<!-- CWC - Coaching with Compassion -->
<div>
<!--TODO: to make localized (in Serbian) form field names and info -->
<h1>Your visions of the ideal future of our country/world</h1>
(write it after you have finished the CWC dreaming of the workshop)
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Your vision No 1" formControlName="cwcVision1" value="">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Your vision No 2" formControlName="cwcVision2" value="">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Your vision No 3" formControlName="cwcVision3" value="">
        </mat-form-field>
      </p>

      <p>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || saved">{{saved ? 'Submitted' : 'Submit your visions'}}</button>
        <!-- <button mat-raised-button (click)="partialUpdate()">Partial Update</button>
        <button mat-raised-button (click)="fullUpdate()">Full Update</button> -->
        <button mat-raised-button (click)="reset()">Clear</button>
      </p>
    </form>
</div>
