<div class="change-component">
  <div layout="column" class="list">
    <md-card *ngFor="let change of changes">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{change.iAmId?.displayName}}</span><i class="fa fa-user" aria-hidden="true"></i>
          <span class="md-subhead"><i class="fa fa-plus-circle" aria-hidden="true"></i> added</span>
        </md-card-title-text>
        <!-- <md-card-title-media>
          <img class="card-media md-media-sm" src="images/avatars/avatar13.svg">
        </md-card-title-media> -->
        {{change.reference?.name}}
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button>Swype to hide</button>
        <!-- <button md-button>Action 2</button> -->
      </md-card-actions>
    </md-card>
  </div>
</div>


        <!-- <span class="username" [class.unknown]="change.who == null">
          <b>{{change.who != null ? change.who.displayName : 'unknown user'}}</b>
        </span>
        <ul class="experise">
          <li *ngFor="#experise of change.dataContent.relevantWhats">
            <span>
              &nbsp;&nbsp;&nbsp;{{experise.name}}
            </span>
          </li>
        </ul>
      </li>
  </ul> -->
