<div class="knalledge_map_index">
	<div class="logo_background">
		<div class="titles">
			<h1><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h1>
			<h2><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Science</span><span class="title_web">.com</span></h2>
		</div>
	</div>
	<div knalledge_map_tools class="knalledge_map_tools"></div>
	<div class="knalledge_map_middle">
		<div ontov_search></div>
		<div knalledge_relevant class="knalledge_map_middle_bottom">
			 <div rima_relevant_list class="rima_relevant_list"></div>
		</div>
		<div knalledge_map class="knalledge_map"></div>
	</div>
	<div knalledge_map_list class="knalledge_map_list"></div>
</div>
