<!-- main container -->
<div layout="column" layout-fill>
    <!-- content -->
    <md-sidenav-container layout="row" flex style="overflow: auto; height: 100%;">
        <!-- Right panel -->
        <!-- <md-sidenav name="right" align="right"  [style]="hasMedia('gt-sm') ? 'side' : 'over'" flex="30" layout="column" (onShown)="input.focus()"> -->
        <md-sidenav name="right" align="left" layout="column" [style]="hasMedia('gt-sm') ? 'side' : 'over'">
            <md-content>
                <!-- <form>
                <md-input-container class="md-block">
                    <label for="testInput">Test input</label>
                    <input type="text" id="testInput" md-input #input [(value)]="data" md-autofocus>
                </md-input-container>
                </form> -->
                <div style="text-align: right;">
                    <button md-raised-button (click)="close('right')" align="right" class="md-primary" hide-gt-md>
                        Close
                    </button>
                </div>
                <knalledge-map-list class="knalledge_map_list"></knalledge-map-list>
            </md-content>
        </md-sidenav>
        <!-- Tools -->
        <md-sidenav name="left" align="left" class="md-sidenav-left md-whiteframe-z2">
            <md-content>
                <div style="text-align: right;">
                    <button md-raised-button (click)="close('left')" align="right" class="md-primary">
                        Close
                    </button>
                </div>
                <knalledge-map-tools class="knalledge_map_tools"></knalledge-map-tools>
            </md-content>
        </md-sidenav>

        <!-- Main content -->
        <md-content class="knalledge_map_index" flex>

            <!-- Bacground logos/trade-marks -->
            <div class="logo_background">
                <div class="titles">
                    <div template="ngIf:viewConfig.type.name =='collabo_framework'">
                        <h1><span class="title_web"></span><span class="title_collabo">Collabo</span><span class="title_science">Framework</span><span class="title_web"></span></h1>
                        <h2><span class="title_web">www.</span><span class="title_kn">Collabo</span><span class="title_all">Science</span><span class="title_web">.com</span></h2>
                        <h2><span class="title_web">www.</span><span class="title_kn">Collabo</span><span class="title_edge">Arte</span><span class="title_web">.com</span></h2>
                        <h2><span class="title_web"></span>
                        <span class="title_kn">KF</span>
                        <span class="title_all">/</span>
                        <span class="title_edge">ChaOS</span>
                        <span class="title_web"></span></h2>
                    </div>
                    <div template="ngIf:viewConfig.type.name =='collabo_arte'">
                        <h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Arte</span><span class="title_web">.com</span></h1>
                        <h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
                    </div>
                    <div template="ngIf:viewConfig.type.name =='collabo_science'">
                        <h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Science</span><span class="title_web">.com</span></h1>
                        <h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
                    </div>
                    <div template="ngIf:viewConfig.type.name =='collabo_business'">
                        <h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Business</span><span class="title_web">.com</span></h1>
                        <h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
                    </div>
                </div>
            </div>
            <div layout-fill layout-align="stretch stretch">
                <div class="knalledge_map_middle" layout-fill layout="column">
                    <!-- toolbar -->
                    <md-toolbar class="toolbar md-theme-indigo" style="height: 60px">
                        <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap>
                            <section class="commands" layout="row" layout-sm="column" layout-align="left center" layout-wrap>
                                <button md-fab class="md-primary" aria-label="Configuration" (click)="open('left')" [hidden]="leftOpened">
                                    <i md-icon>settings</i>
                                </button>
                                <!-- <button md-fab class="md-primary" (click)="open('right')" hide-gt-md> -->
                                <button md-fab class="md-primary" aria-label="Configuration" (click)="open('right')" hide-gt-md>
                                    <i md-icon>chrome_reader_mode</i>
                                </button>
                                <button md-fab class="md-primary" aria-label="Toggle Top Panel" (click)="toggleTopPanel()">
                                    <i md-icon>view_agenda</i>
                                </button>

                                <button md-fab class="md-primary" aria-label="Maps" (click)="go('maps')" *ngIf="policyConfig.moderating.enabled">
                                    <i md-icon>map</i>
                                </button>

                                <button md-fab class="md-primary" aria-label="Plugins" (click)="go('plugins')" *ngIf="policyConfig.moderating.enabled">
                                    <i md-icon>extension</i>
                                </button>
                            </section>

                            <section class="status" layout="row" layout-sm="column" layout-align="right center" layout-wrap>
                                <div class="name" layout="column">
                                        {{policyConfig.state.name}} <!-- ({{policyConfig.state.id}}) -->
                                </div>
                                <div *ngIf="!policyConfig.moderating.enabled">
                                    <span *ngIf="policyConfig.broadcasting.receiveNavigation">You are following the presentation<button md-raised-button (click)="stopFollowing()" class="md-accent md-hue-1">Stop following</button></span>
                                    <span *ngIf="!policyConfig.broadcasting.receiveNavigation"><span class="warning">You are not following a presentation!</span><button md-raised-button (click)="continueFollowing()" class="md-accent md-hue-1">Start following</button></span>
                                </div>
                                <div *ngIf="policyConfig.moderating.enabled">
                                    <span *ngIf="policyConfig.broadcasting.enabled">You are presenting<button md-raised-button (click)="stopFollowing()" class="md-accent md-hue-1">Stop</button></span>
                                    <span *ngIf="!policyConfig.broadcasting.enabled">You are not presenting<button md-raised-button (click)="continueFollowing()" class="md-accent md-hue-1">Start</button></span>
                                </div>
                            </section>
                            <section class="whoAmI" layout="row" layout-sm="column" layout-align="right center" layout-wrap>
                                <button md-fab class="md-primary" aria-label="Person" (click)="go('login')">
                                    <i md-icon>person</i>
                                </button>

                                <div class="names" layout="column">
                                    <div class="loggedIn">
                                        {{getLoggedInUserName()}}
                                    </div>
                                    <div class="active" *ngIf="policyConfig.moderating.enabled">
                                        Active user: {{getActiveUserName()}}
                                    </div>
                                </div>

                                <button md-fab class="md-primary" aria-label="Logout" (click)="go('logout')">
                                    <i md-icon>directions run</i>
                                </button>

                            </section>
                        </section>
                    </md-toolbar>

                    <ontov-search style="height: 2em"></ontov-search>
                    <!-- top panel -->
                    <div class="knalledge_map_middle_bottom" *ngIf="topPanelVisible">
                        <!--<rima-relevant-list class="rima_relevant_list"></rima-relevant-list>-->
                        <top-panel></top-panel>
                    </div>
                    <!-- KnAllEdge Map -->
                    <knalledge-map class="knalledge_map" flex style="overflow: auto; height: 100%;"></knalledge-map>
                </div>
            </div>
        </md-content>
    </md-sidenav-container>
</div>
