<!-- main container -->
<div layout="column" layout-fill>
    <!-- toolbar -->
    <md-toolbar class="md-theme-indigo" style="height: 60px">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <button md-fab class="md-primary" aria-label="Configuration" (click)="open('left')" [hidden]="leftOpened">
                <i md-icon>settings</i>
            </button>
            <!-- <button md-fab class="md-primary" (click)="open('right')" hide-gt-md> -->
            <button md-fab class="md-primary" aria-label="Configuration" (click)="open('right')" hide-gt-md>
                <i md-icon>chrome_reader_mode</i>
            </button>
        </section>
    </md-toolbar>
    <!-- content -->
    <md-sidenav-container layout="row" flex style="overflow: auto; height: 100%;">
        <!-- Right panel -->
        <!-- <md-sidenav name="right" align="right"  [style]="hasMedia('gt-sm') ? 'side' : 'over'" flex="30" layout="column" (onShown)="input.focus()"> -->
        <md-sidenav name="right" align="left" flex="30" layout="column" [style]="hasMedia('gt-sm') ? 'side' : 'over'">
            <md-content>
                <!-- <form>
                <md-input-container class="md-block">
                    <label for="testInput">Test input</label>
                    <input type="text" id="testInput" md-input #input [(value)]="data" md-autofocus>
                </md-input-container>
                </form> -->
                <button md-raised-button (click)="close('right')" class="md-primary" hide-gt-md>
                    Close
                </button>
                <knalledge-map-list class="knalledge_map_list"></knalledge-map-list>
            </md-content>
        </md-sidenav>
        <!-- Tools -->
        <md-sidenav name="left" align="left" flex="30" class="md-sidenav-left md-whiteframe-z2">
            <md-content>
                <button md-raised-button (click)="close('left')" class="md-primary">
                    Close
                </button>
                <knalledge-map-tools class="knalledge_map_tools"></knalledge-map-tools>
            </md-content>
        </md-sidenav>

        <!-- Main content -->
        <md-content class="md-sidenav-push-in-target" flex>

            <!-- Bacground logos/trade-marks -->
            <!-- <div class="logo_background">
                <div class="titles">
                    <div template="ngIf:viewConfig.type.name =='collabo_arte'">
                        <h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Arte</span><span class="title_web">.com</span></h1>
                        <h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
                    </div>
                    <div template="ngIf:viewConfig.type.name =='collabo_science'">
                        <h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Science</span><span class="title_web">.com</span></h1>
                        <h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
                    </div>
                    <div template="ngIf:viewConfig.type.name =='collabo_business'">
                        <h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Business</span><span class="title_web">.com</span></h1>
                        <h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
                    </div>
                </div>
            </div> -->
            <div layout-fill layout-align="stretch stretch">
                <div class="knalledge_map_middle" layout-fill layout="column">
                    <!-- <ontov-search flex></ontov-search> -->
                    <!-- top panel -->
                    <div class="knalledge_map_middle_bottom"  style="height: 10em">
                        <!--<rima-relevant-list class="rima_relevant_list"></rima-relevant-list>-->
                        <top-panel></top-panel>
                    </div>
                    <!-- KnAllEdge Map -->
                    <knalledge-map class="knalledge_map" flex style="overflow: auto; height: 100%;"></knalledge-map>
                </div>
            </div>
        </md-content>
    </md-sidenav-container>
</div>
