<!-- main container -->
<div layout="column" layout-fill>
    <!-- content -->
    <md-sidenav-layout layout="row" flex style="overflow: auto; height: 100%;">
        <!-- <md-sidenav #options align="left" layout="column" [style]="hasMedia('gt-sm') ? 'side' : 'over'"> -->
        <md-sidenav #options class="options" [opened]="true" align="end" mode="side" layout="column">
            <md-content>
                <!-- <form>
                <md-input-container class="md-block">
                    <label for="testInput">Test input</label>
                    <input type="text" id="testInput" md-input #input [(value)]="data" md-autofocus>
                </md-input-container>
                </form> -->
                <div style="text-align: right;">
                    <button md-raised-button (click)="options.close()" align="right" class="md-primary" hide-gt-md>
                        Close
                    </button>
                </div>
                <knalledge-map-list class="knalledge_map_list"></knalledge-map-list>
            </md-content>
        </md-sidenav>
        <!-- Tools -->
        <md-sidenav #settings class="settings" align="start" style="min-width: 200px; max-width: 300px; width: 30%;" class="md-sidenav-left md-whiteframe-z2">
            <md-content>
                <div style="text-align: right;">
                    <button md-raised-button (click)="settings.close()" align="right" class="md-primary">
                        Close
                    </button>
                </div>
                <!-- <div class="md-padding" id="popupContainer" style="position: relative;">
                    <md-dialog #custom (onClose)="customClose($event)">
                        <form>
                            <h2 class="md-title">{{fruit}} (Fruit)</h2>
                            <div>
                                <p>
                                    The mango is a juicy stone fruit belonging to the genus Mangifera, consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit.
                                </p>
                                <p>
                                    The highest concentration of Mangifera genus is in the western part of Malesia (Sumatra, Java and Borneo) and in Burma and India.
                                </p>
                            </div>
                        </form>
                        <md-dialog-actions>
                            <a md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank">
                                <span>More on Wikipedia</span>
                            </a>
                            <span flex></span>
                            <button md-button (click)="custom.close(false)">
                                <span>Ignore</span>
                            </button>
                            <button md-button class="md-primary" (click)="custom.close(true)">
                                <span>Interesting...</span>
                            </button>
                        </md-dialog-actions>
                    </md-dialog>
                    <button md-raised-button class="md-primary" flex="auto" (click)="custom.show()">
                        Custom Dialog
                    </button>
                    <div *ngIf="status">
                        <br/>
                        <b layout="row" layout-align="center center" class="md-padding">
                      {{status}}
                    </b>
                    </div>
                </div> -->
                <knalledge-map-tools class="knalledge_map_tools"></knalledge-map-tools>
            </md-content>
        </md-sidenav>

        <!-- Main content -->
        <md-content class="knalledge_map_index" flex>

            <!-- Bacground logos/trade-marks -->
            <div class="logo_background">
                <div class="titles">
                    <div template="ngIf:viewConfig.type.name =='collabo_framework'">
                        <h1><span class="title_web"></span><span class="title_collabo">Collabo</span><span class="title_science">Framework</span><span class="title_web"></span></h1>
                        <!-- <h2><span class="title_web">www.</span><span class="title_kn">Collabo</span><span class="title_all">Science</span><span class="title_web">.com</span></h2>
                        <h2><span class="title_web">www.</span><span class="title_kn">Collabo</span><span class="title_edge">Arte</span><span class="title_web">.com</span></h2>-->
                        <!-- <h2>
                          <span class="title_kn">KF</span>
                          <span class="title_all">/</span>
                          <span class="title_edge">ChaOS</span>
                          <span class="title_web"></span>
                        </h2> -->
                    </div>
                    <div template="ngIf:viewConfig.type.name =='collabo_arte'">
                        <h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Arte</span><span class="title_web">.com</span></h1>
                        <h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
                    </div>
                    <div template="ngIf:viewConfig.type.name =='collabo_science'">
                        <h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Science</span><span class="title_web">.com</span></h1>
                        <h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
                    </div>
                    <div template="ngIf:viewConfig.type.name =='collabo_business'">
                        <h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Business</span><span class="title_web">.com</span></h1>
                        <h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
                    </div>
                </div>
            </div>
            <div layout-fill layout-align="stretch stretch">
                <div class="knalledge_map_middle" layout-fill layout="column">
                    <!-- toolbar -->
                    <md-toolbar class="toolbar md-theme-indigo" color="primary" style="width: 100%;">
                        <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap style="width: 100%;">
                            <section class="commands" layout="row" layout-sm="column" layout-align="left center" layout-wrap>
                                <button md-fab class="md-primary" aria-label="Configuration" (click)="settings.toggle()" [hidden]="leftOpened">
                                    <i title="Settings" md-icon>settings</i>
                                </button>
                                <!-- <button md-fab class="md-primary" aria-label="Configuration" (click)="options.open()" hide-gt-md> -->
                                <button md-fab class="md-primary" aria-label="Configuration" (click)="options.toggle()">
                                    <i title="Configuration" md-icon>chrome_reader_mode</i>
                                </button>
                                <button md-fab class="md-primary" aria-label="Toggle Top Panel" (click)="toggleTopPanel()">
                                    <i title="Top Panel" md-icon>view_agenda</i>
                                </button>

                                <button md-fab class="md-primary" aria-label="Maps" (click)="go('maps')" *ngIf="policyConfig.moderating.enabled">
                                    <i title="Maps List" md-icon>map</i>
                                </button>

                                <button md-fab class="md-primary" aria-label="Plugins" (click)="go('plugins')" *ngIf="policyConfig.moderating.enabled">
                                    <i title="Plugins" md-icon>extension</i>
                                </button>
                            </section>
                            <span class="map">Map <span class="mapName">{{getMapName()}}</span></span>

                            <section class="status" layout="row" layout-sm="column" layout-align="right center" layout-wrap>
                                <div class="name" layout="column">
                                    {{policyConfig.state.name}}
                                    <!-- ({{policyConfig.state.id}}) -->
                                </div>
                                <div *ngIf="!policyConfig.moderating.enabled">
                                    <span *ngIf="policyConfig.broadcasting.receiveNavigation">You are following the presentation<button md-raised-button (click)="stopFollowing()" class="md-accent md-hue-1">Stop following</button></span>
                                    <span *ngIf="!policyConfig.broadcasting.receiveNavigation"><span class="warning">You are not following a presentation!</span>
                                    <button md-raised-button (click)="continueFollowing()" class="md-accent md-hue-1">Start following</button>
                                    </span>
                                </div>
                                <div *ngIf="policyConfig.moderating.enabled">
                                    <span *ngIf="policyConfig.broadcasting.enabled">You are presenting<button md-raised-button (click)="disableBroadcasting()" class="md-accent md-hue-1">Stop</button></span>
                                    <span *ngIf="!policyConfig.broadcasting.enabled">You are not presenting<button md-raised-button (click)="enableBroadcasting()" class="md-accent md-hue-1">Start</button></span>
                                </div>
                            </section>
                            <section class="whoAmI" layout="row" layout-sm="column" layout-align="right center" layout-wrap>
                                <button md-fab class="md-primary" aria-label="Person" (click)="go('login')">
                                    <i title="Login" md-icon>person</i>
                                </button>

                                <div class="names" layout="column">
                                    <div class="loggedIn">
                                        {{getLoggedInUserName()}}
                                    </div>
                                    <div class="active" *ngIf="policyConfig.moderating.enabled">
                                        Active: {{getActiveUserName()}}
                                    </div>
                                </div>

                                <button md-fab class="md-primary" aria-label="Logout" (click)="go('logout')">
                                    <i title="Logout" md-icon>directions run</i>
                                </button>
                                <!-- <div>TESTING
                                  <span *ngIf="policyConfig.moderating.enabled">
                                    policyConfig.moderating.enabled = {{policyConfig.moderating.enabled}} = true
                                  </span>
                                  ||
                                  <span *ngIf="!policyConfig.moderating.enabled">
                                    policyConfig.moderating.enabled = {{policyConfig.moderating.enabled}} = false
                                  </span>
                                </div> -->

                            </section>
                        </section>
                    </md-toolbar>

                    <ontov-search style="height: 2em"></ontov-search>
                    <!-- top panel -->
                    <div class="knalledge_map_middle_bottom" *ngIf="viewConfig.panels.topPanel.visible">
                        <!--<rima-relevant-list class="rima_relevant_list"></rima-relevant-list>-->
                        <top-panel></top-panel>
                    </div>
                    <!-- KnAllEdge Map -->
                    <knalledge-map class="knalledge_map" flex style="overflow: auto; height: 100%;"></knalledge-map>
                </div>
            </div>
        </md-content>
    </md-sidenav-layout>
</div>
