<!-- <md-button class="menu" show-gt-sm (click)="toggleList()" aria-label="Show menu">
	MENU
	<md-icon md-svg-icon="menu"></md-icon>
</md-button> -->

<!-- Logo -->
<!--<div template="ngIf:viewConfig.type.name =='collabo_science'" class="titles">
	<h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Science</span><span class="title_web">.com</span></h1>
	<h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
</div>

<div template="ngIf:viewConfig.type.name =='collabo_arte'" class="titles">
	<h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Arte</span><span class="title_web">.com</span></h1>
	<h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
</div>

<div template="ngIf:viewConfig.type.name =='collabo_framework'" class="titles">
	<h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Science</span><span class="title_web">.com</span></h1>
	<h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
</div>

<div template="ngIf:viewConfig.type.name =='collabo_business'" class="titles">
	<h1><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Business</span><span class="title_web">.com</span></h1>
	<h2><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h2>
</div>
-->
<ibis-types-list class="ibis-types-list"></ibis-types-list>
<rima-users-list class="rima-users-list"></rima-users-list>

<div class="controlls">
    <h4><span class="title switch" ng-click="switchClicked($item)"><b>Visualize:</b></span></h4>
    Layout:
    <md-radio-group [(value)]="viewConfig.visualization.viewspec">
        <md-radio-button value="viewspec_manual" class="md-primary" checked="true" (click)="viewConfigChanged('config.visualization.viewspec', 'viewspec_manual')">M</md-radio-button>
        <md-radio-button value="viewspec_tree" class="md-primary" (click)="viewConfigChanged('config.visualization.viewspec','viewspec_tree')">T</md-radio-button>
        <md-radio-button value="viewspec_flat" class="md-primary" (click)="viewConfigChanged('config.visualization.viewspec','viewspec_flat')">F</md-radio-button>
    </md-radio-group>
    <div class="btn-group">
        <!-- <button md-raised-button (click)="selectUser(user)" class="md-accent md-hue-1" ng-class="{'selected' : user === selected }">
			{{user.name}}
		</button> -->

        <!-- <label class="btn btn-sm btn-primary" [(ngModel)]="bindings.viewspec" btn-radio="'viewspec_manual'" (click)="viewConfigChanged('viewspec_manual')">M</label>
		<label class="btn btn-sm btn-primary" [(ngModel)]="bindings.viewspec" btn-radio="'viewspec_tree'" (click)="viewConfigChanged('viewspec_tree')">T</label>
		<label class="btn btn-sm btn-primary" [(ngModel)]="bindings.viewspec" btn-radio="'viewspec_flat'" (click)="viewConfigChanged('viewspec_flat')">F</label> -->
    </div>

    <div class="btn-group">
        <md-switch class="md-primary" aria-label="Node Types" [(checked)]="viewConfig.nodes.showTypes" (checkedChange)="viewConfigChanged('config.nodes.showTypes', viewConfig.nodes.showTypes)">Node Types</md-switch>

        <md-switch class="md-primary" aria-label="Images" [(checked)]="viewConfig.nodes.showImages" (checkedChange)="viewConfigChanged('config.nodes.showImages', viewConfig.nodes.showImages)">Images</md-switch>

        <md-switch class="md-primary" aria-label="Edge Names" [(checked)]="viewConfig.edges.showTypes" (checkedChange)="viewConfigChanged('config.edges.showTypes', viewConfig.edges.showTypes)">Edge Names</md-switch>

        <md-switch class="md-primary" aria-label="Edge Types" [(checked)]="viewConfig.edges.showNames" (checkedChange)="viewConfigChanged('config.edges.showNames', viewConfig.edges.showNames)">Edge Types</md-switch>

        <!-- TODO: `limitedRangeCheckBoxValue` should be changed to `config.filtering.displayDistance` when we change checkBox to some NumberSLide -->
        <md-switch class="md-primary" aria-label="Limit range" [(checked)]="limitedRangeCheckBoxValue" (checkedChange)="limitDisplayChanged('config.filtering.displayDistance', limitedRangeCheckBoxValue)">Limit range</md-switch>

        <!-- <select [(value)]=“viewConfig.filtering.displayDistance”>
        <option [value]="'1'">1</option>
				<option [value]="'2'">2</option>
				<option [value]="'3'">3</option>
				<option [value]="'4'">4</option>
				<option [value]="'5'">5</option>
				<option [value]="'10'">10</option>
				<option [value]="'15'">15</option>
		</select> -->
    </div>

    <h4>Filtering:</h4>
    <div class="btn-group">
        <!-- <button md-raised-button (click)="selectUser(user)" class="md-accent md-hue-1" ng-class="{'selected' : user === selected }">
			{{user.name}}
		</button> -->

        <!-- <label class="btn btn-sm btn-primary" [(ngModel)]="bindings.viewspec" btn-radio="'viewspec_manual'" (click)="viewspecChanged('viewspec_manual')">M</label>
		<label class="btn btn-sm btn-primary" [(ngModel)]="bindings.viewspec" btn-radio="'viewspec_tree'" (click)="viewspecChanged('viewspec_tree')">T</label>
		<label class="btn btn-sm btn-primary" [(ngModel)]="bindings.viewspec" btn-radio="'viewspec_flat'" (click)="viewspecChanged('viewspec_flat')">F</label> -->
    </div>

    <div class="btn-group">
        <md-switch class="md-primary" aria-label="show IBIS" [(checked)]="viewConfig.filtering.visbileTypes.ibis" (checkedChange)="viewConfigChanged('config.filtering.visbileTypes.ibis', viewConfig.filtering.visbileTypes.ibis)">show IBIS</md-switch>
    </div>

    <h4>Behaviours:</h4>
    <!-- <div class="btn-group">
        <button md-raised-button (click)="selectUser(user)" class="md-accent md-hue-1" ng-class="{'selected' : user === selected }">
			{{user.name}}
		</button>

        <label class="btn btn-sm btn-primary" [(ngModel)]="bindings.viewspec" btn-radio="'viewspec_manual'" (click)="viewspecChanged('viewspec_manual')">M</label>
		<label class="btn btn-sm btn-primary" [(ngModel)]="bindings.viewspec" btn-radio="'viewspec_tree'" (click)="viewspecChanged('viewspec_tree')">T</label>
		<label class="btn btn-sm btn-primary" [(ngModel)]="bindings.viewspec" btn-radio="'viewspec_flat'" (click)="viewspecChanged('viewspec_flat')">F</label>
    </div>
    -->
    Brainstorming
    <md-radio-group [(value)]="policyConfig.behaviour.brainstorming">
        <md-radio-button value="0" class="md-primary" checked="true" (click)="brainstormingChanged('policyConfig.behaviour.brainstorming', policyConfig.behaviour.brainstorming)">Off</md-radio-button>
        <md-radio-button value="1" class="md-primary" (click)="brainstormingChanged('policyConfig.behaviour.brainstorming', policyConfig.behaviour.brainstorming)">1</md-radio-button>
        <md-radio-button value="2" class="md-primary" (click)="brainstormingChanged('policyConfig.behaviour.brainstorming', policyConfig.behaviour.brainstorming)">2</md-radio-button>
        <md-radio-button value="3" class="md-primary" (click)="brainstormingChanged('policyConfig.behaviour.brainstorming', policyConfig.behaviour.brainstorming)">3</md-radio-button>
        <md-radio-button value="4" class="md-primary" (click)="brainstormingChanged('policyConfig.behaviour.brainstorming', policyConfig.behaviour.brainstorming)">4</md-radio-button>
    </md-radio-group>

    <h4>Broadcasting:</h4>
    <div class="btn-group">
        <!-- <md-switch class="md-primary" aria-label="Pool Changes" [(checked)]="policyConfig.syncing.poolChanges" (checkedChange)="syncingChanged()">Pool Changes</md-switch> -->
        <md-switch class="md-primary" aria-label="Moderator" [(checked)]="policyConfig.moderating.enabled" (checkedChange)="viewConfigChanged('policyConfig.moderating.enabled', policyConfig.moderating.enabled)">Moderator</md-switch>
        <md-switch class="md-primary" aria-label="Presenter" [(checked)]="policyConfig.broadcasting.enabled" (checkedChange)="broadcastingChanged('policyConfig.broadcasting.enabled', policyConfig.broadcasting.enabled)">Presenter</md-switch>

        <button *ngIf="policyConfig.moderating.enabled" md-raised-button (click)="broadcastUpdateMaps()" class="md-accent md-hue-1">Update Maps</button>

        <button *ngIf="policyConfig.moderating.enabled" md-raised-button (click)="broadcastReloadMaps()" class="md-accent md-hue-1">Reload Maps</button>

        <md-switch class="md-primary" aria-label="Navigation" [(checked)]="policyConfig.broadcasting.receiveNavigation" (checkedChange)="broadcastingChanged('policyConfig.broadcasting.receiveNavigation', policyConfig.broadcasting.receiveNavigation)">Navigations</md-switch>
        <md-switch class="md-primary" aria-label="Structural" [(checked)]="policyConfig.broadcasting.receiveStructural" (checkedChange)="broadcastingChanged('policyConfig.broadcasting.receiveStructural', policyConfig.broadcasting.receiveStructural)">Structural</md-switch>
        <md-switch class="md-primary" aria-label="Visualization" [(checked)]="policyConfig.broadcasting.receiveVisualization" (checkedChange)="broadcastingChanged('policyConfig.broadcasting.receiveVisualization', policyConfig.broadcasting.receiveVisualization)">Visualization</md-switch>
        <md-switch class="md-primary" aria-label="Behaviours" [(checked)]="policyConfig.broadcasting.receiveBehaviours" (checkedChange)="broadcastingChanged('policyConfig.broadcasting.receiveBehaviours', policyConfig.broadcasting.receiveBehaviours)">Behaviours</md-switch>
    </div>

    <!-- <div *ngIf="policyConfig.moderating.enabled" class="tool_info">Moderator</div>
    <div *ngIf="policyConfig.broadcasting.enabled" class="tool_info">Presenter</div> -->
    <!-- <div template="ngIf:policyConfig.moderating.enabled" class="tool_info">Moderator</div>
    <div template="ngIf:policyConfig.broadcasting.enabled" class="tool_info">Presenter</div> -->

</div>

<p>
    <a href="#/maps">Maps</a>
    <a href="#/plugins">Plugins</a>
</p>
