<div class="mapsList">
	<h1>KnAllEdge Maps</h1>
	<div class='creatingNewMap' ng-class="{ 'displayNone': modeCreating == false }">
		<form>
			<fieldset>
				<legend>New Map</legend>
				<div><label>Name</label><input type="text" ng-model="mapToCreate.name" /></div>
				<div><label>Type</label><input type="text" ng-model="mapToCreate.type" /></div>
				<div><label>Parent map ID</label><input type="text" ng-model="mapToCreate.parentMapId" /></div>
				<div><label>Map Version</label><input type="text" ng-model="mapToCreate.version" /></div>
				<div><label>Authors</label><input type="text" ng-model="mapToCreate.dataContent.mcm.authors" /></div>
		 		<p class="buttons">
					<button class="btn btn-warning" ng-click="cancelled()">Cancel</button>
					<button class="btn btn-primary" type="submit" ng-click="createNew()">Create Map</button>
				</p>
			</fieldset>
		</form>
	
	</div>
	<div>
		<br/>
		<span>Existing maps:</span>
		<table class="list">
			<tr><th class="mcm_name">Id</th><th class="mcm_name">Name</th><th class="mcm_authors">Authors</th><th class="creation_date">Creation Date</th></tr>
			<tr ng-click="selectItem(item)" ng-repeat="item in items" data-ng-class="{'active-selection': item._id == selectedItem._id}">
				<td>{{item._id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.dataContent.mcm.authors}}</td>
				<td>{{item.createdAt}}</td>
			</tr>
		</table>
	</div>
	<p class="buttons">
		<button class="btn btn-primary" type="submit" ng-click="openMap()">Open Map</button>
		<span class='showCreateNewMap' ng-class="{ 'displayNone': modeCreating == true }">
			<button class="btn btn-primary" ng-click="showCreateNewMap()">Create a New Map</button>
		</span>
	</p>
</div>