<div class="titles">
	<h1><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span></h1>
	<h2><span class="title_collabo">Collabo</span><span class="title_science">Science</span></h2>
</div>

<div class="controlls">
	<h4>Visualize:</h4>
	<!-- <pre>{{radioModel || 'null'}}</pre> -->
	<div class="btn-group">
		<label class="btn btn-sm btn-primary" ng-model="bindings.viewspec" btn-radio="'viewspec_manual'" ng-change="viewspecChanged()">M</label>
		<label class="btn btn-sm btn-primary" ng-model="bindings.viewspec" btn-radio="'viewspec_tree'" ng-change="viewspecChanged()">T</label>
	</div>
</div>

<p>
	<a ng-href="#/maps">Maps</a>
</p>
