<div class="titles">
	<h1><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h1>
	<h2><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Science</span><span class="title_web">.com</span></h2>
</div>

<div class="controlls">
	<p>
		<a ng-href="#/maps">Maps</a>
	</p>

	<h4>Visualize:</h4>
	<!-- <pre>{{radioModel || 'null'}}</pre> -->
	<div class="btn-group">
		<label class="btn btn-sm btn-primary" ng-model="bindings.viewspec" btn-radio="'viewspec_manual'" ng-change="viewspecChanged()">M</label>
		<label class="btn btn-sm btn-primary" ng-model="bindings.viewspec" btn-radio="'viewspec_tree'" ng-change="viewspecChanged()">T</label>
		<label class="btn btn-sm btn-primary" ng-model="bindings.viewspec" btn-radio="'viewspec_flat'" ng-change="viewspecChanged()">F</label>
	</div>

	<div class="btn-group">
		<label class="btn btn-primary" ng-model="config.nodes.showImages" btn-checkbox ng-change="configChanged()">Show Images</label>
	</div>

</div>

<div rima-users-list class="rima-users-list"></div>

<div ibis-types-list class="ibis-types-list"></div>
