<div class="titles">
	<h1><span class="title_web">www.</span><span class="title_kn">Kn</span><span class="title_all">All</span><span class="title_edge">Edge</span><span class="title_web">.org</span></h1>
	<h2><span class="title_web">www.</span><span class="title_collabo">Collabo</span><span class="title_science">Science</span><span class="title_web">.com</span></h2>
</div>

<div class="controlls">
	<p>
		<a ng-href="#/maps">Maps</a>
	</p>

	<div ng-if="policyConfig.moderating.enabled" class="tool_info">Moderator</div>
	<div ng-if="policyConfig.broadcasting.enabled" class="tool_info">Presenter</div>

	<h4>Visualize:</h4>
	<!-- <pre>{{radioModel || 'null'}}</pre> -->
	<div class="btn-group">
		<label class="btn btn-sm btn-primary" ng-model="bindings.viewspec" btn-radio="'viewspec_manual'" ng-change="viewspecChanged('viewspec_manual')">M</label>
		<label class="btn btn-sm btn-primary" ng-model="bindings.viewspec" btn-radio="'viewspec_tree'" ng-change="viewspecChanged('viewspec_tree')">T</label>
		<label class="btn btn-sm btn-primary" ng-model="bindings.viewspec" btn-radio="'viewspec_flat'" ng-change="viewspecChanged('viewspec_flat')">F</label>
	</div>

	<div class="btn-group">
		<label class="btn btn-primary" ng-model="config.nodes.showImages" btn-checkbox ng-change="configChanged('config.nodes.showImages', config.nodes.showImages)">Show Images</label>
		<label class="btn btn-primary" ng-model="config.nodes.showTypes" btn-checkbox ng-change="configChanged('config.nodes.showTypes', config.nodes.showTypes)">Show Node Types</label>
		<label class="btn btn-primary" ng-model="config.edges.showNames" btn-checkbox ng-change="configChanged('config.edges.showNames', config.edges.showNames)">Show Edge Names</label>
		<label class="btn btn-primary" ng-model="config.edges.showTypes" btn-checkbox ng-change="configChanged('config.edges.showTypes', config.edges.showTypes)">Show Edge Types</label>
	</div>

	<h4>Syncing:</h4>
	<div class="btn-group">
		<label class="btn btn-primary" ng-model="config.syncing.poolChanges" btn-checkbox ng-change="syncingChanged()">Pool Changes</label>
	</div>

</div>

<div rima-users-list class="rima-users-list"></div>

<div ibis-types-list class="ibis-types-list"></div>
