<!-- http://jsfiddle.net/nzYnc/
other solutions for tabs:
http://www.w3.org/Style/Examples/007/target.en.html
https://css-tricks.com/functional-css-tabs-revisited/
http://nontroppo.org/test/tab1.html
 -->

 <tabset>
	<tab select="alertMe()">
		<tab-heading>
			<i style="margin:0.2em;" class="fa fa-pencil"></i> Prop.
		</tab-heading>

	    <div class="heading">
			<div rima-whats class="rima-whats" node="nodeContent.node"></div>

			<b>Additional Info</b>
			<button ng-if="!nodeContent.editing && nodeContent.node" class="btn btn-primary" type="button" ng-click="enableEditing()">Edit</button>
		</div>
		<div class="content">
			<div ng-if="nodeContent.editing" text-angular name="htmlcontent" ng-model="nodeContent.htmlProperty" ng-change="propertyChanged()" ta-disabled='disabled' class="knalledge-properties knalledge-edit" text-angular-name="KN-Properties"></div>

			<div ng-if="!nodeContent.editing" ng-bind-html="nodeContent.htmlProperty" class="knalledge-properties knalledge-view"></div>
		</div>
	</tab>
	<tab select="alertMe()">
		<tab-heading>
			<i style="margin:0.2em;" class="fa fa-suitcase"></i> Me
		</tab-heading>

	    <div rima-hows class="rima-hows" whoAmIType="'logged_in'"></div>
	</tab>
	<tab select="alertMe()">
		<tab-heading>
			<i style="margin:0.2em;" class="fa fa-suitcase"></i> Active
		</tab-heading>

	    <div rima-hows class="rima-hows" whoAmIType="'active'"></div>
	</tab>
</tabset>
