<div fxLayout="column" fxFlexFill style="height: 100%;">

    <!-- toolbar -->
    <div fxFlex="64px" style="overflow-y: hidden;">
        <mat-toolbar class="toolbar flexible mat-theme-indigo" color="primary" style="width: 100%;">
            <a href="/" title="Home" >
                <img alt="Home" src="/assets/images/colabo-logo-url-square.jpg" height="55px" style="margin-right: 7px; opacity: 0.9; border-radius: 7px;" />
            </a>   Colabo Login
        </mat-toolbar>
    </div>

    <div fxFlex style="/*background-color: yellow;*/ overflow-y:scroll; margin: 15px;">
        <!--TODO: to make localized (in Serbian) form field names and info -->
        <div *ngIf="isLoggedIn">
            <!-- Здраво,
            <b>{{loggedUser.dataContent.firstName}}</b>. <br/> успешно си се улоговао. -->
            Hello,
            <b>{{loggedUser.dataContent.firstName}}</b>. <br/> You are succesfully logged in.

            <img class='user-avatar' src = '{{userAvatar() | async}}'/>

            <p>
                email: <b>{{loggedUser.dataContent.email}} </b><br/> id: {{loggedUser._id}}
                <p>
                    <a routerLink="/">
                        <button mat-raised-button color="primary">Continue</button>
                    </a>
                    <button mat-raised-button color="primary" (click)="logOut()">Log out</button>
                </p>
        </div>

        <div *ngIf="!isLoggedIn">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <p *ngIf="isErrorLogingIn">
                    <b>Error while logging in:</b>{{errorLogingMsg}}
                </p>
                <p>
                    <mat-form-field class="example-full-width">
                        <input matInput type="email" placeholder="E-mail" formControlName="email" value="">
                        <mat-error class="error-message">incorrect e-mail</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="example-full-width">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" value="">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error class="error-message">must be 3 characters at least</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!isValid()">Login</button>
                    <button type='button' mat-raised-button (click)="reset()">Clear</button>
                </p>
            </form>
            <!-- Ако немаш налог, прво се <a routerLink="/rima-register">региструј</a>! -->
            If you do not have account, please <a routerLink="/rima-register">Register</a> first!
        </div>
    </div>
</div>