/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
@import "../../../app/sass/include";

$color_tool_border: gray;

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,

	debug: (
		image: hide,
		color: red,
		output: background,
		toggle: top right,
	),
);

$map: layout(12 1/4 fluid float inside);

@include breakpoint($small) {
	.knalledge_map_tools{
		height: 100%;
		min-height: 100%;
		@include span(2 at 1); 
	}

	.knalledge_map{
		height: 100%;
		min-height: 100%;
		@include span(10 at 3);
	}

	.knalledge_map_list{
		height: 100%;
		min-height: 100%;
		/*@include span(3 at 1); */
	}
}

@include breakpoint($medium) {
	.knalledge_map_tools{
		@include span(1 at 1);
	}

	.knalledge_map{
		@include span(9 at 2);
	}

	.knalledge_map_list{
		@include span(2 at 10);
	}
}

@include breakpoint($large) {
	.knalledge_map_tools{
		@include span(1 at 1); 
	}

	.knalledge_map{
		/* make #content content occupying 2 cells less on large screens */
		@include span(9 at 2);
	}

	.knalledge_map_list{
		@include span(2 at 10); 
	}
}

.knalledge_map_index{
	position: relative;
	height: 100%;
	width: 100%;
	/*background-color: #dddd00;
	border: solid 1px #aaaa00;*/
	overflow-x: hidden;
	overflow-y: scroll;

	.logo_background{
		top: 35%;
		left: 25%;
		right: 50%;
		bottom: 25%;
		position: absolute;
		opacity: 0.5;
		text-align: right;

		h1 {
			font-size: 100px;
			border-bottom: solid 1px #aaaaaa;
			display: inline;
			text-align: right;

			.title_kn{
				color: #555555;
			}
			.title_all{
				color: #000055;
			}
			.title_edge{
				color: #880000;
			}
			padding-bottom: 0px;
			margin-bottom: 0px;

			padding-top: 0px;
			margin-top: 0px;
		}
		h2 {
			padding-top: 0px;
			margin-top: 0px;
			font-size: 50px;
			display: inline;
			text-align: right;

			/*border-bottom: solid 1px #aaaaaa;*/

			.title_collabo{
				color: #000055;
				font-style: italic;
				margin-left: 50px;
			}
			.title_science{
				color: #880000;
			}
		}
	}
}

/* ------------------------
 knalledge_map_tools
------------------------ */

.knalledge_map_tools{
	.titles{
		z-index: 1000;
		position: absolute;
		background-color: #ddddff;
		border: solid 3px #aaaaff;
/*		overflow-x: scroll;
		overflow-y: scroll;
*/		@include border-radius(10px, 10px);
		opacity: 0.5;
		padding: 5px;
		margin-top: 10px;
		margin-left: 3px;
	}
	.controlls{
		margin-top: 100px;
	}
	h1 {
		font-size: 30px;
		border-bottom: solid 1px #aaaaaa;

		.title_kn{
			color: #555555;
		}
		.title_all{
			color: #000055;
		}
		.title_edge{
			color: #880000;
		}
		padding-bottom: 0px;
		margin-bottom: 0px;

		padding-top: 0px;
		margin-top: 0px;
	}
	h2 {
		padding-top: 0px;
		margin-top: 0px;
		font-size: 20px;
		/*border-bottom: solid 1px #aaaaaa;*/

		.title_collabo{
			color: #000055;
			font-style: italic;
		}
		.title_science{
			color: #880000;
		}
	}
	z-index: 10;
	position: relative;
	height: 100%;
	/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
	overflow: visible;
	/*	overflow-x: visible;
		overflow-y: scroll;
	*/
	ul {
		/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
		overflow: visible;
		/*	overflow-x: visible;can-drop
			overflow-y: scroll;
		*/
		position: relative;

		li {
			position: absolute;
			list-style-type: none;
			display: block;
			border: 1px solid $color_tool_border;
			padding: 10px;
			padding-right: 25px;
			margin: 3px;
			@include border-radius(10px, 10px);
			/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
			/* color h-shadow v-shadow blur spread color inset*/
			@include box-shadow(4px 3px 7px 2px rgba(150, 150, 255, 0.75));
		}
	}
}

.draggable_tool{

}

@media print {
/*	#map-canvas {
		height: 650px;
	}
*/
}

/* ------------------------
 knalledge_map_list
------------------------ */

.knalledge_map_list{
	z-index: 9;
}

/* ------------------------
 knalledge_map
------------------------ */

.knalledge_map{
	z-index: 8;
	position: relative;
	height: 100%;
	overflow: scroll;
}

.knalledge_map_container{
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 5;
	position:relative;
	background-color: rgba(240, 240, 255, 0.75);
	border: solid 1px #aaaaff;
	overflow-x: scroll;
	overflow-y: scroll;
	@include border-radius(10px, 10px);

	.map_svg{
		height: 100%;
		width: 100%;
		position: absolute;
		/*background-color: #ffffaa;*/
		z-index: 1;
	}

	.map_html{
		height: 100%;
		width: 100%;
		position: absolute;
		/*background-color: #ffffaa;*/
		z-index: 2;
	}

	.map_entity{
		width: 100px;
		height: 50px;
		position: absolute;
		background-color: #ccf;
		border: 3px solid gray;
		padding: 10px;
		margin: 3px;
		z-index: 1;
		@include border-radius(10px, 10px);
		/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
		/* color h-shadow v-shadow blur spread color inset*/
		@include box-shadow(2px 1px 3px 1px rgba(150, 150, 255, 0.75));

		.status {
			position: absolute;
			left: -10px;
			top: -10px;
			background-color: yellow;
			border: 2px solid red;
			padding-left: 4px;
			padding-right: 4px;
			padding-top: 0px;
			padding-bottom: 0px;
			text-align: center;
			font-weight: bold;
			@include border-radius(10px, 10px);
		}
		.type {
			position: absolute;
			right: -15px;
			bottom: -15px;
			background-color: rgba(200, 200, 255, 0.5);
			border: 2px solid rgba(100, 100, 255, 0.25);
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 0px;
			padding-bottom: 0px;
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			color: #555f;
			font-style: italic;
			@include border-radius(5px, 5px);
		}
		.name {
			position: relative;
			padding: 3px;
			/*background-color: yellow;*/
		}

		&.has_children{
		}

		&.has_no_children{
		}

		&.selected{
			border-color: #ffa;
			border-width: 3px;
		}

		&.unselected{
		}

		/* entity stylings */
		&.map_entity_object{
			background-color: #aaa;
		}

		&.map_entity_process{
			background-color: #aaf;
		}

		&.resizable_map_entity{
			
		}
	}

	.draggable_map_entity{

	}


	/* ------------------------
	 interaction
	------------------------ */

	.dropzone {
		background-color: #ccc;
		border-radius: 4px;
		margin: 10px auto 30px;
		padding: 10px;
		transition: background-color 0.3s;
	}

	.drop-active {
		border: 3px dotted red;
	}

	.drop-target {
		background-color: #4bf;
		border-color: #f88;
		border-style: solid;
		border-width: 5px;
	}

	.drag-drop {
		display: inline-block;
		min-width: 40px;
		padding: 2em 0.5em;

		color: #fff;
		background-color: #29e;
		border: solid 2px #fff;

		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);

		transition: background-color 0.3s;
	}

	.drag-drop.can-drop {
		border: 3px solid green;
	}


	/* -------------------------
		KnAllEdge Map Internals
   	-------------------------*/

	.div_map{
		position: relative;
/*		width: 100%;
		height: 100%;
*/
		overflow: scroll;
		/*background-color: #aaaaaa;*/
		/*padding: 5px;*/
	}

	.div_map_svg{
		position: absolute;
		width: 100%;
		height: 100%;
		/*background-color: #ffffaa;*/

		z-index: 1;

		svg{
			width: 100%;
			height: 100%;		
		}
	}

	.svg_content{
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 1px;
	}

	.node text { font: 12px sans-serif; }

	.link {
	  fill: none;
	  stroke: #000;
	  stroke-width: 3px;
	}

	.div_map_html{
		position: absolute;
		width: 100%;
		height: 100%;
		/*background-color: #aaaaff;*/
		/*opacity: 0.5;*/
		z-index: 2;
		/*display: none;*/
	}

	.html_content{
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.node_html{
		position: absolute;
		border-width: 0px;
		/*width: 10em;*/
		/*height: 3em;
		line-height: 3em;*/

	/*	background-color: #ffffff;
	*/	/*opacity: 0.7;*/
		z-index: 5;
		padding: 3px;
		cursor: pointer;
	/*	margin-left: 3em;
		margin-top: 0.3em;
	*/	
		/*margin-top: -1.5em;
		margin-left: -5em;*/

		.node_inner_html {
			position: relative;
			padding: 3px;
			/*background-color: yellow;*/
		}

		.node_status {
			position: absolute;
			left: -10px;
			top: -10px;
			background-color: yellow;
			border: 1px solid red;
			width: 20px;
			text-align: center;
			font-weight: bold;
			@include border-radius(10px, 10px);
		}
		.vote_up {
			position: absolute;
			left: -10px;
			top: -10px;
			background-color: #88ff88;
			border: 2px solid #00aa00;
			padding-left: 4px;
			padding-right: 4px;
			padding-top: 0px;
			padding-bottom: 0px;
			text-align: center;
			font-weight: bold;
			min-width: 1.2em;
			@include border-top-right-radius(15px);
			@include border-top-left-radius(15px);
		}
		.vote_down {
			position: absolute;
			left: -10px;
			top: +15px;
			background-color: #ff8888;
			border: 2px solid #aa0000;
			padding-left: 4px;
			padding-right: 4px;
			padding-top: 0px;
			padding-bottom: 0px;
			text-align: center;
			font-weight: bold;
			min-width: 1.2em;
			@include border-bottom-right-radius(15px);
			@include border-bottom-left-radius(15px);
		}
	}

	.node_html_fixed{
		width: 150px;
		margin-left: -75px;
		@include border-radius(10px, 10px);
		border-width: 1px;
		@include box-shadow(4px 3px 7px 2px rgba(150, 150, 255, 0.75));
	}

	.node_unselected{
		border-style: dashed;
		border-color: #0000ff;
		/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
		/* color h-shadow v-shadow blur spread color inset*/
	}
	.node_selected{
		border-style: solid;
		border-color: #0000aa;
		border-width: 2px;
		@include box-shadow(4px 3px 7px 2px rgba(80, 80, 255, 0.75));
	}

	.node_html span {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;      
		text-align: center;
		font-weight: bold;
		font-style: italic;
		color: #883333;

		/* just for testing purposs */
		p{
			color: #880000;		
			font-weight: 100;
			font-size: 12px;
			font-style: normal;
		}
	}

	.label_html{
		position: absolute;
		/*width: 10em;*/
		/*width: 150px;
		margin-left: -75px;*/
		/*height: 3em;
		line-height: 3em;*/
		border: 1px dashed #8888ff;
		background-color: #eeeeff;
		@include border-radius(5px);
		opacity: 0.7;
		z-index: 4;
		padding: 3px;
		cursor: pointer;
	/*	margin-left: 3em;
		margin-top: 0.3em;
	*/	
		/*margin-top: -1.5em;
		margin-left: -5em;*/
		span {

		}
	}
}

/* ------------------------------
	knalledge-map-image-editing
------------------------------ */

$knalledge_image_editing_color: #888888;
$knalledge_image_editing_entity_color: #8888FF;
$knalledge_image_editing_title_size: 1em;

.knalledge-map-image-editing{
	position: absolute;
	width: 40%;
	z-index: 100;
	left: 50%;
	margin-left: -20%;
	top: 10%;
	/* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html 
	https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
	*/
	border: 3px solid transparentize(darken($knalledge_image_editing_color, 25%), 0.5);
	background-color: transparentize($knalledge_image_editing_color, 0.25);
	@include border-radius(15px);
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(10px 10px 5px 5px transparentize(darken($knalledge_image_editing_color, 15%), 0.75));

	.knalledge_title{
		border-bottom: 3px solid darken($knalledge_image_editing_color, 25%);
		background-color: $knalledge_image_editing_color;
		text-align: center;
		color: lighten($knalledge_image_editing_color, 35%);
		font-weight: bold;
		padding-top: 3px;
		padding-bottom: 3px;
		height: $knalledge_image_editing_title_size*1.5;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
	}

	.knalledge_close{
		position: absolute;
		background-color: #dddddd;
		border: solid 3px #555555;
		font-weight: bold;
		color: #888888;
		font-size: $knalledge_image_editing_title_size;
		padding: 0.1*$knalledge_image_editing_title_size;
		padding-left: $knalledge_image_editing_title_size;
		padding-right: $knalledge_image_editing_title_size;
		@include border-radius(15px);
		right: $knalledge_image_editing_title_size*0.1;
		top: $knalledge_image_editing_title_size*0.1;
		z-index: 101;

		cursor: pointer;

		&:hover{
			background-color: #ffffff;
		}
	}

	ul {
		/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
		overflow-y: scroll;
		position: relative;
		padding-left: 20%;
		padding-right: 20%;

		li {
			list-style-type: none;
			display: block;
			background-color: lighten($knalledge_image_editing_entity_color, 5%);
			border: 1px solid $knalledge_image_editing_entity_color;
			margin: 25px 10px;
			padding: 10px;
			padding-right: 25px;
			@include border-radius(10px, 10px);
			cursor: pointer;
			text-align: center;
			color: lighten($knalledge_image_editing_entity_color, 15%);
			/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
			/* color h-shadow v-shadow blur spread color inset*/
			@include box-shadow(3px 2px 3px 1px rgba(150, 150, 255, 0.75));

			@include transition-property(color);
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in);

			&:hover{
				background-color: lighten($knalledge_image_editing_entity_color, 10%);
				color: darken($knalledge_image_editing_entity_color, 5%);
			}
		}
	}
	form{
		padding: 5px;
		padding-top: 10px;
		.image_url{
			font-weight: 300;
			font-size: 1.2em;
			background-color: darken($knalledge_image_editing_color, 5%);
			color: lighten($knalledge_image_editing_color, 25%);
			width: 100%;
			padding: 3px;
			text-align: center;
		}
		.dimensions{
			text-align: center;
			input{
				width: 5em;
				background-color: darken($knalledge_image_editing_color, 10%);
				color: lighten($knalledge_image_editing_color, 20%);
				padding: 3px;
				text-align: center;
			}
		}
		.help-block{
			font-size: 0.9em;
			font-style: italic;
			text-align: right;
		}
		.buttons{
			text-align: right;
		}
	}
}