/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/

@import "../../../app/sass/include";

/* ------------------------

------------------------ */

.knalledge_map_container{
	.node_html{
		.notification {
			position: absolute;
			left: 35px;
			/*font-style: italic;*/
			font-size: 1.1em;
			top: 20px;
			color: #ffffee;
			opacity: 0.90;
			background-color: #ff6666;
			border: solid 5px #ff4444;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
/*			font-weight: bold;
*/			min-width: 1.2em;
			width: 200px;
			@include border-radius(10px);			
			@include box-shadow(10px 10px 9px 5px rgba(255, 80, 80, 0.75));
		}
	}
}