<div class="md-padding" id="popupContainer">
  <md-dialog #userDialog class="user_dialog">
      <md-dialog-title>User</md-dialog-title>
        <form *ngIf="userFormActive" (ngSubmit)="onSubmit()" #userForm="ngForm" layout="column" class="inline-form">
            <md-input [disabled]="!policyConfig?.moderating?.enabled" placeholder="displayName" [(ngModel)]="user.displayName" name="displayName" required #name="ngModel"></md-input>
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
               displayName is required
             </div>
             <span [hidden]="!policyConfig?.moderating?.enabled">
               <md-input placeholder="E-mail" required [(ngModel)]="user.e_mail" name="e_mail" #e_mail="ngModel"></md-input>
               <div [hidden]="e_mail.valid || e_mail.pristine" class="alert alert-danger">
                E-mail is required
              </div>
             </span>
            <md-input [disabled]="!policyConfig?.moderating?.enabled" placeholder="First Name" [(ngModel)]="user.firstname" name="firstname" #firstname="ngModel"></md-input>
            <md-input [disabled]="!policyConfig?.moderating?.enabled" placeholder="Family Name" [(ngModel)]="user.familyname" name="familyname" #familyname="ngModel"></md-input>
            <!-- <md-input placeholder="Map Type" [(ngModel)]="user.type" name="type"></md-input>
            <md-switch [(checked)]="user.isPublic" aria-label="public">public</md-switch> -->
            <!-- <label for="name">Name</label>

          <br>TODO: remove this: {{spy.className}} -->
          <div layout="row">
            <!-- type="button" is required or otherwise button reacts as type="submit", like it is default type-->
            <button md-button *ngIf="policyConfig?.moderating?.enabled" type="submit" [disabled]="!userForm.form.valid">Update</button>
            <button md-button *ngIf="policyConfig?.moderating?.enabled" type="button" (click)="makePresenter(user)">Make Presenter</button>
            <button md-button type="button" (click)="close(false)">CLOSE</button>
            <!-- <button md-button class="md-primary" (click)="mapDialog.close(true)">
                <span *ngIf="modeEditing">Update</span><span *ngIf="modeCreating">Create</span>
            </button> -->
          </div>
        </form>
      <!-- <md-dialog-actions>
        <button md-button type="button" (click)="makePresenter(user)">Make Presenter</button>
        <button md-button type="button" (click)="close(false)">OK</button>
      </md-dialog-actions> -->
  </md-dialog>
</div>
