/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
/* @import "normalize"; */
/*
$medium: 800px;
$large: 1400px;
*/
/*
	http://compass-style.org/examples/compass/css3/box_sizing/
	http://www.w3schools.com/cssref/css3_pr_box-sizing.asp
	http://stackoverflow.com/questions/10808413/css3-box-sizing-margin-box-why-not
*/
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ------------------------
 bootstrap wizard
------------------------ */
.switch {
  cursor: pointer;
  background-color: #009688; }

.title {
  padding-bottom: 3px;
  border-bottom: 1px solid black;
  margin-bottom: 7px; }

.wizard-main {
  position: relative; }
  .wizard-main .rima_logo {
    /*		position: absolute;
    		left: 500px;
    		top: 100px;
    		z-index: 1001;
    */
    font-size: 2em;
    margin-right: 1em;
    font-weight: bold;
    color: gray; }

wizard {
  border: 5px solid green; }
  wizard ng-form {
    height: 100%;
    overflow: scroll; }

/* ------------------------
 bootstrap tooltips
------------------------ */
.tooltip-inner {
  color: #bbbbff;
  background-color: #4444ff;
  font-size: 1.65em;
  min-width: 300px; }

/* ------------------------
 rima_relevant_list
------------------------ */
.rima_relevant_list {
  background-color: rgba(240, 240, 255, 0.75);
  border: solid 1px #aaaaff;
  position: relative;
  margin-top: 0.5%;
  height: 95.5%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -moz-border-radius: 10px / 10px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px / 10px; }
  .rima_relevant_list .rima-relevant_whats_list .title {
    font-weight: bold;
    text-align: center; }
  .rima_relevant_list .rima-relevant_whats_list .list {
    margin: 5px;
    margin-left: 1%;
    margin-bottom: 3px;
    font-size: 0.85em;
    padding: 3px;
    width: 98%; }
    .rima_relevant_list .rima-relevant_whats_list .list tr {
      /*border-bottom: 1px solid black;*/ }
      .rima_relevant_list .rima-relevant_whats_list .list tr.heading th {
        border-bottom: 1px solid #848484;
        /*						border-left: 1px solid  darken($item_background_color, 20%);
        						border-right: 1px solid  darken($item_background_color, 20%);
        */
        padding: 5px;
        font-weight: bold; }
        .rima_relevant_list .rima-relevant_whats_list .list tr.heading th.node {
          width: 75%;
          border-right: 1px solid #aaaaaa; }
        .rima_relevant_list .rima-relevant_whats_list .list tr.heading th.whats {
          width: 25%; }
      .rima_relevant_list .rima-relevant_whats_list .list tr.data_row:nth-child(odd) {
        background-color: #dddddd; }
      .rima_relevant_list .rima-relevant_whats_list .list tr.data_row:nth-child(even) {
        background-color: #f7f7f7; }
      .rima_relevant_list .rima-relevant_whats_list .list tr.data_row:hover {
        cursor: pointer;
        background-color: #848484; }
      .rima_relevant_list .rima-relevant_whats_list .list tr.data_row.active-selection {
        background-color: #9d9d9d; }
        .rima_relevant_list .rima-relevant_whats_list .list tr.data_row.active-selection td.node {
          font-weight: bold;
          color: #f7f7f7; }
      .rima_relevant_list .rima-relevant_whats_list .list tr.data_row td {
        padding: 5px; }
        .rima_relevant_list .rima-relevant_whats_list .list tr.data_row td.node {
          border-right: 1px solid #aaaaaa; }
        .rima_relevant_list .rima-relevant_whats_list .list tr.data_row td.whats .relevant {
          font-weight: bold;
          color: #880000;
          text-decoration: underline; }

.rima_relevant {
  border: 3px solid #ff8888; }

/*
 * Whats
 */
/*
 * What
 */
.rima-whats {
  margin-bottom: 10px; }
  .rima-whats .rima-what {
    margin-bottom: 7px;
    display: inline-block; }
  .rima-whats .item {
    list-style-type: none;
    background-color: #cce;
    margin-right: 5px;
    margin: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 2px;
    border: 1px solid #aaa;
    border-radius: 0 15px 15px; }
    .rima-whats .item:hover {
      cursor: pointer;
      background-color: #e1e1e1; }
  .rima-whats .item_in_progress {
    background-color: #f3f3f3;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 2px;
    border: 1px dashed #e0e0e0;
    border-radius: 0 15px 15px; }
  .rima-whats .item_in_progress a {
    color: #8888ff; }
  .rima-whats .item a {
    color: #3333aa; }
  .rima-whats .item_delete {
    color: red;
    font-weight: bold;
    cursor: pointer; }
  .rima-whats .item_in_progress .item_delete {
    color: #ff8888; }
  .rima-whats .item_select {
    color: blue;
    font-weight: bold;
    cursor: pointer; }
  .rima-whats .item_in_progress .item_select {
    color: #ff8888; }
  .rima-whats .new-item-input {
    width: 80%; }

/* http://www.w3.org/TR/CSS2/selector.html */
.idea-detail .title-edit {
  color: #888;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.idea-detail .subtitle-edit {
  color: #888;
  font-weight: 200;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.idea-detail .title-view {
  width: 100%; }

.idea-detail .subtitle-view {
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  font-style: italic; }

.items-creating-new {
  background-color: #f3f3f3;
  margin: 5px;
  padding: 5px;
  border: 1px dashed #e0e0e0;
  border-radius: 0 15px 15px; }

.whats-cloud.active-selection {
  background-color: #c8c8c8;
  font-weight: bold; }

.rima-hows {
  overflow: scroll;
  height: 100%;
  margin-bottom: 1000px; }
  .rima-hows .user {
    color: blue;
    font-weight: bold; }
  .rima-hows .important {
    color: red; }
  .rima-hows .how_verb {
    color: red; }
  .rima-hows .how_what {
    color: blue; }
  .rima-hows .title {
    font-weight: bold;
    text-align: center; }
  .rima-hows .finish {
    align: right; }
  .rima-hows .help_text {
    text-decoration: none;
    font-size: 16px;
    color: #004;
    font-style: normal; }
  .rima-hows .list {
    margin: 5px;
    text: 18px;
    width: 100%;
    border: 1px solid #aaa;
    -moz-border-radius: 5px / 5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 5px / 5px;
    margin-bottom: 3px;
    padding: 3px;
    /*background-color: #ccc;
    background-color: #aaf;*/ }
    .rima-hows .list tr:nth-child(odd) {
      background-color: #888; }
    .rima-hows .list tr:nth-child(even) {
      background-color: #a2a2a2; }
    .rima-hows .list tr:hover {
      cursor: pointer;
      background-color: #e1e1e1; }
      .rima-hows .list tr:hover .management {
        display: block;
        position: absolute;
        top: 2px;
        right: 2px; }
        .rima-hows .list tr:hover .management .btn {
          padding: 1px 3px; }
    .rima-hows .list tr td {
      padding-left: 5%;
      position: relative; }
      .rima-hows .list tr td .management {
        display: none; }
    .rima-hows .list tr.active-selection {
      background-color: #c8c8c8;
      /*font-weight: bold;*/ }
    .rima-hows .list th {
      background-color: #aaf;
      border: 1px solid black;
      padding: 5px;
      font-weight: bold; }
    .rima-hows .list td {
      border: 1px solid black;
      padding: 5px; }
  .rima-hows .what_input {
    padding: 5px;
    width: 60%;
    color: blue; }
  .rima-hows .how_select {
    padding: 5px;
    margin-bottom: 5px;
    display: table;
    background-color: lightblue; }
  .rima-hows .note {
    font-size: 12;
    font-style: italic;
    padding: 5px 5px;
    background-color: #ffd;
    color: darkgrey; }
  .rima-hows .subject {
    /*display: table-cell;*/
    vertical-align: middle;
    padding: 5px;
    /*width: 100%;*/ }
  .rima-hows .selectTd {
    /*display: table-cell;*/
    vertical-align: middle;
    padding: 5px;
    color: red;
    /*width: 100%;*/ }
  .rima-hows .select {
    color: red;
    padding: 5px; }
  .rima-hows .what_input_element {
    /*display: table-cell;*/
    vertical-align: middle;
    padding: 5px;
    width: 100%; }
  .rima-hows a.info {
    /*position:relative;*/
    /*this is the key*/
    color: #008;
    top: 100px;
    left: 50px;
    text-decoration: underline;
    text-align: center; }
  .rima-hows a.info span {
    display: none; }
  .rima-hows a.info:hover span {
    /*the span will display just on :hover state*/
    display: block;
    position: absolute;
    top: -60px;
    width: 15em;
    border: 5px solid #0cf;
    background-color: #cff;
    color: #000;
    text-align: center;
    padding: 10px; }
  .rima-hows a.info:hover span:after {
    /*the span will display just on :hover state*/
    content: '';
    position: absolute;
    bottom: -11px;
    width: 10px;
    height: 10px;
    border-bottom: 5px solid #0cf;
    border-right: 5px solid #0cf;
    background: #cff;
    left: 50%;
    margin-left: -5px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.rima-topics .important {
  color: red; }
.rima-topics .how_verb {
  color: red; }
.rima-topics .how_what {
  color: blue; }
.rima-topics .title {
  font-weight: bold;
  text-align: center; }
.rima-topics .finish {
  align: right; }
.rima-topics .help_text {
  text-decoration: none;
  font-size: 16px;
  color: #004;
  font-style: normal; }
.rima-topics .list {
  margin: 5px;
  text: 18px;
  border: 1px solid #aaa;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  margin-bottom: 3px;
  padding: 3px;
  /*background-color: #ccc;
  background-color: #aaf;*/ }
  .rima-topics .list tr:nth-child(odd) {
    background-color: #888; }
  .rima-topics .list tr:nth-child(even) {
    background-color: #a2a2a2; }
  .rima-topics .list tr:hover {
    cursor: pointer;
    background-color: #e1e1e1; }
    .rima-topics .list tr:hover .management {
      display: block;
      position: absolute;
      top: 2px;
      right: 2px; }
      .rima-topics .list tr:hover .management .btn {
        padding: 1px 3px; }
  .rima-topics .list tr td {
    position: relative; }
    .rima-topics .list tr td .management {
      display: none; }
  .rima-topics .list tr.active-selection {
    background-color: #c8c8c8;
    /*font-weight: bold;*/ }
  .rima-topics .list th {
    background-color: #aaf;
    border: 1px solid black;
    padding: 5px;
    font-weight: bold; }
  .rima-topics .list td {
    border: 1px solid black;
    padding: 5px; }
.rima-topics .what_input {
  padding: 5px;
  width: 60%;
  color: blue; }
.rima-topics .how_select {
  padding: 5px;
  display: table;
  background-color: lightblue; }
.rima-topics .note {
  font-size: 12;
  font-style: italic;
  padding: 5px 5px;
  background-color: #ffd;
  color: darkgrey; }
.rima-topics .subject {
  /*display: table-cell;*/
  vertical-align: middle;
  padding: 5px;
  /*width: 100%;*/ }
.rima-topics .selectTd {
  /*display: table-cell;*/
  vertical-align: middle;
  padding: 5px;
  color: red;
  /*width: 100%;*/ }
.rima-topics .select {
  color: red; }
.rima-topics .what_input_element {
  /*display: table-cell;*/
  vertical-align: middle;
  padding: 5px;
  width: 100%; }
.rima-topics a.info {
  /*position:relative;*/
  /*this is the key*/
  color: #008;
  top: 100px;
  left: 50px;
  text-decoration: underline;
  text-align: center; }
.rima-topics a.info span {
  display: none; }
.rima-topics a.info:hover span {
  /*the span will display just on :hover state*/
  display: block;
  position: absolute;
  top: -60px;
  width: 15em;
  border: 5px solid #0cf;
  background-color: #cff;
  color: #000;
  text-align: center;
  padding: 10px; }
.rima-topics a.info:hover span:after {
  /*the span will display just on :hover state*/
  content: '';
  position: absolute;
  bottom: -11px;
  width: 10px;
  height: 10px;
  border-bottom: 5px solid #0cf;
  border-right: 5px solid #0cf;
  background: #cff;
  left: 50%;
  margin-left: -5px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

/*
	RIMA
	rima-users-list
*/
.rima-wizard .whatami_wizard {
  position: relative;
  width: 80%;
  margin-left: 50%;
  left: -40%;
  border: 5px solid green; }
  .rima-wizard .whatami_wizard ng-form {
    height: 100%;
    overflow: scroll; }
.rima-wizard .col-md-3 {
  display: none; }
.rima-wizard .title {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: darkblue; }
.rima-wizard .padded {
  padding: 5px 5px; }
.rima-wizard .padded-around {
  padding: 10px; }
.rima-wizard .general-data {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove #333;
  border: solid 1px #000;
  padding: 10px; }
  .rima-wizard .general-data label {
    width: 20em; }
.rima-wizard .note {
  font-size: 12;
  font-style: italic;
  padding: 5px 5px;
  background-color: #ffd;
  color: darkgrey; }
.rima-wizard .submit {
  display: none; }

.rima-users-list .list {
  font-size: 18px;
  border: 1px solid #aaaaaa;
  width: 100%;
  -moz-border-radius: 15px / 15px;
  -webkit-border-radius: 15px 15px;
  border-radius: 15px / 15px; }
  .rima-users-list .list .active-selection {
    background-color: #eee; }
  .rima-users-list .list tr {
    margin-bottom: 3px;
    border-bottom: solid 2px #aaaaaa;
    margin-bottom: 3px;
    -moz-border-radius: 5px / 5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 5px / 5px; }
    .rima-users-list .list tr:hover {
      cursor: pointer;
      background-color: #cccccc; }
      .rima-users-list .list tr:hover .management {
        display: block;
        position: absolute;
        top: 2px;
        right: 2px; }
        .rima-users-list .list tr:hover .management .btn {
          padding: 1px 3px; }
    .rima-users-list .list tr td {
      padding-left: 5%;
      position: relative; }
      .rima-users-list .list tr td .management {
        display: none; }
  .rima-users-list .list th {
    background-color: #aaf;
    /*border: 1px solid black;*/
    padding: 5px; }
  .rima-users-list .list td {
    /*border: 1px solid black;*/
    padding: 5px;
    font-size: 0.75em; }
  .rima-users-list .list .active-selection {
    background-color: #aaf; }

.rima-users-connections path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px; }
.rima-users-connections path.unselected {
  fill: none;
  stroke: #333;
  stroke-width: 1px; }
.rima-users-connections path.selected {
  fill: none;
  stroke: #000;
  stroke-width: 3px; }
.rima-users-connections circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px; }
.rima-users-connections text {
  fill: #00d;
  font: 12px sans-serif;
  font-weight: bold;
  pointer-events: none; }
.rima-users-connections .users-graph {
  /*background-color: blue;
  width: 500px;
  height: 300px;*/ }

/*# sourceMappingURL=default.css.map */
