<div class="presentation-list">
	Presentation
	<div class="switch" (click)="hideShowCommands()">
		<button md-fab md-tooltip="New Presentation" tooltip-position="below" class="md-mini md-primary" aria-label="New Presentation" (click)="createPresentation()" *ngIf="!isPresentationAvailable()">
				<i title="New Presentation" md-icon>add_to_queue</i>
		</button>
		<button md-fab md-tooltip="Show Presentation" tooltip-position="below" class="md-mini md-primary" aria-label="Show Presentation" (click)="showPresentation()" *ngIf="isPresentationAvailable()">
				<i title="Show Presentation" md-icon>play_circle_filled</i>
		</button>
		<button md-fab md-tooltip="Show Presentation" tooltip-position="below" class="md-mini md-primary" aria-label="Show Presentation" (click)="showPresentationFromCurrentSlide()" *ngIf="isPresentationAvailable()">
				<i title="Show Presentation" md-icon>play_circle_outline</i>
		</button>
		<button md-fab md-tooltip="Add Slide" tooltip-position="below" class="md-mini md-primary" aria-label="Add Slide" (click)="addSlide()" *ngIf="isPresentationAvailable() && selectedItem() && !isSelectedItemInSlides()">
				<i title="Add Slide" md-icon>add</i>
		</button>
		<button md-fab md-tooltip="Remove Slide" tooltip-position="below" class="md-mini md-primary" aria-label="Remove Slide" (click)="removeSlide()" *ngIf="isPresentationAvailable() && isSelectedItemInSlides()">
				<i title="Remove Slide" md-icon>remove</i>
		</button>
		<button md-fab md-tooltip="Move slide up" tooltip-position="below" class="md-mini md-primary" aria-label="Move slide up" (click)="slideMoveUp()" *ngIf="selectedItem() && !isFirst()">
				<i title="Move slide up" md-icon>keyboard_arrow_up</i>
		</button>
		<button md-fab md-tooltip="Move slide down" tooltip-position="below" class="md-mini md-primary" aria-label="Move slide down" (click)="slideMoveDown()" *ngIf="selectedItem() && !isLast()">
				<i title="Move slide down" md-icon>keyboard_arrow_down</i>
		</button>
	</div>
	({{getSlides().length}} slides)
	<section class="slides" layout="row" layout-sm="column" layout-align="left center" layout-wrap>
		<div class="slide clickable" (click)="selectSlide(slide)" *ngFor="let slide of getSlides()"
		[ngClass]="{'active-selection': slide?.kNode?._id === selectedSlide?.kNode?._id}">
			<div>{{slide?.kNode.name}}</div>
		</div>
	</section>
</div>
