<div class="ibis-actions-form">
    <button md-fab class="md-mini md-primary" aria-label="Comment" (click)="onCommentItem()">
      <i class="commentIcon" title="Comment" md-icon>comment</i>
    </button>

    <button md-fab class="md-mini md-primary" aria-label="Question" (click)="onQuestionItem()">
      <i class="questionIcon" title="Question" md-icon>?</i>
    </button>

<!-- 	<div class="content" [hidden]="!componentShown">
		<table class="list">
			<tr (click)="selectItem(item)" *ngFor="let item of items"
			[ngClass]="{'row': true, 'active-selection': item._id === selectedItem._id}">
				<td>{{item.name}}</td>
			</tr>
		</table>
	</div>
 -->
 </div>
