<div class="md-padding map-form" id="popupContainer">
    <md-dialog #importMapFormDialog class="importMapFormDialog">
        <md-dialog-title>Import Map</md-dialog-title>
        <div class="md-inline-form">
          <form *ngIf="importMapFormActive" (ngSubmit)="onSubmit()" #importMapForm="ngForm" layout="column" class="inline-form">
            <!-- {{importMapForm.valid}}<br/>
            {{importMapForm.form.valid}}<br/> -->
            <!-- {{JSON.stringify(importMapForm)}}<br/>
            {{JSON.stringify(importMapForm.form)}}<br/> -->
            <!-- {{diagnostic}} -->
              <!-- <md-input placeholder="Name" [(ngModel)]="model.name" class="form-control" required name="name" #spy #name="ngModel"></md-input>
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
               Name is required
             </div> -->
             <md-switch [(checked)]="giveNewName" (checkedChange)="giveNewNameChanged($event)" aria-label="give a new name to the map">give a new name to the map</md-switch>
             <md-input [disabled]="!giveNewName" [hidden]="true" placeholder="Map Name" [(ngModel)]="mapName" name="name" #name="ngModel"></md-input>
                <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                 Name is required
               </div> -->

               <div class="container">
                 <!-- http://valor-software.com/ng2-file-upload/ -->
                   <div class="navbar navbar-default">
                       <div class="navbar-header">
                           <a class="navbar-brand" href>Angular2 File Upload</a>
                       </div>
                   </div>

                   <div class="row">

                       <div class="col-md-3">

                           <h3>Select files</h3>

                           <!-- <div ng2FileDrop
                                [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                (fileOver)="fileOverBase($event)"
                                [uploader]="uploader"
                                class="well my-drop-zone">
                               Base drop zone
                           </div>

                           <div ng2FileDrop
                                [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                                (fileOver)="fileOverAnother($event)"
                                [uploader]="uploader"
                                class="well my-drop-zone">
                               Another drop zone
                           </div>

                           Multiple
                           <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

                           Single
                           <input type="file" ng2FileSelect [uploader]="uploader" /> -->
                       </div>

                       <div class="col-md-9" style="margin-bottom: 40px">

                           <h3>Upload queue</h3>
                           <p>Queue length: </p>

                           <table class="table">
                               <thead>
                               <tr>
                                   <th width="50%">Name</th>
                                   <th>Size</th>
                                   <th>Progress</th>
                                   <th>Status</th>
                                   <th>Actions</th>
                               </tr>
                               </thead>
                               <tbody>
                               <!-- <tr *ngFor="let item of uploader.queue">
                                   <td><strong></strong></td>
                                   <td *ngIf="uploader.isHTML5" nowrap>0.00 MB</td>
                                   <td *ngIf="uploader.isHTML5">
                                       <div class="progress" style="margin-bottom: 0;">
                                           <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                       </div>
                                   </td>
                                   <td class="text-center">
                                       <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                       <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                       <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                   </td>
                                   <td nowrap>
                                       <button type="button" class="btn btn-success btn-xs"
                                               (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                           <span class="glyphicon glyphicon-upload"></span> Upload
                                       </button>
                                       <button type="button" class="btn btn-warning btn-xs"
                                               (click)="item.cancel()" [disabled]="!item.isUploading">
                                           <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                       </button>
                                       <button type="button" class="btn btn-danger btn-xs"
                                               (click)="item.remove()">
                                           <span class="glyphicon glyphicon-trash"></span> Remove
                                       </button>
                                   </td>
                               </tr> -->
                               </tbody>
                           </table>

                           <div>
                               <!-- <div>
                                   Queue progress:
                                   <div class="progress" style="">
                                       <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                   </div>
                               </div>
                               <button type="button" class="btn btn-success btn-s"
                                       (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                   <span class="glyphicon glyphicon-upload"></span> Upload all
                               </button>
                               <button type="button" class="btn btn-warning btn-s"
                                       (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                   <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                               </button>
                               <button type="button" class="btn btn-danger btn-s"
                                       (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                   <span class="glyphicon glyphicon-trash"></span> Remove all
                               </button> -->
                           </div>

                       </div>

                   </div>

               </div>


              <!-- <md-input placeholder="Map Type" [(ngModel)]="model.type" name="type"></md-input>
              <md-input placeholder="Root NodeType" [(ngModel)]="model.rootNodeType" name="rootNodeType"></md-input>
              <md-input placeholder="Parent map ID" [(ngModel)]="model.parentMapId" name="parentMapId"></md-input>
              <md-input placeholder="Map Version" [(ngModel)]="model.version" name="version"></md-input>
              <md-switch [(checked)]="model.isPublic" aria-label="public">public</md-switch> -->
              <!-- <label for="name">Name</label>
              <md-input type="text" class="form-control" required
                [(ngModel)]="model.name"
                  name="name" #spy #name="ngModel"></md-input>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                 Name is required
               </div>
               <br>TODO: remove this: {{spy.className}}
            </div>
            <div class="form-group">
              <label for="alterEgo">Alter Ego</label>
              <md-input type="text"  class="form-control"
                [(ngModel)]="model.alterEgo" name="alterEgo"></md-input>
            </div>
            <div class="form-group">
              <label for="power">Hero Power</label>
              <select class="form-control"  required
                [(ngModel)]="model.power" name="power">
                <option *ngFor="let p of powers" [value]="p">{{p}}</option>
              </select>
            </div>
            <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button> -->
            <div layout="row">
              <!-- type="button" is required or otherwise button reacts as type="submit", like it is default type-->
              <button md-button type="button" (click)="close(false)">Cancel</button>
              <button md-button type="submit" [disabled]="!importMapForm.form.valid">Import</button>
              <!-- <button md-button class="md-primary" (click)="mapDialog.close(true)">
                  <span *ngIf="modeEditing">Update</span><span *ngIf="modeCreating">Create</span>
              </button> -->
            </div>
          </form>
        </div>
        <!-- <md-dialog-actions>
            <button md-button (click)="close(false)">Cancel</button>
            <button md-button (click)="close(true)">Create</button>
        </md-dialog-actions> -->
    </md-dialog>
</div>
