<md-content class="knalledge_map_index" flex *ngIf='policyConfig.running.ng1ng2Ready'>
  <div layout-fill layout-align="stretch stretch">
    <div class="knalledge_map_middle mapsList" layout-fill layout="column">

      <!-- <div class="mapsList" layout-fill layout="column"> -->
      <md-toolbar class="mapsToolbar md-theme-indigo" color="primary">
        <!-- <a href="http://www.colabo.space"> -->
          <span class="map-title">{{title}}</span>
        <!-- </a> -->
        <section class="toolbar-front" layout="row" layout-sm="column" layout-align="space-between center" layout-wrap style="width: 100%;">
          <section class="commands" layout="row" layout-sm="column" layout-align="left center" layout-wrap>
            <!-- <button md-mini-fab class="md-primary" aria-label="Configuration" (click)="settings.toggle()" [hidden]="leftOpened">
                  <md-icon title="Settings">settings</md-icon>
              </button>
              <button md-mini-fab class="md-primary" aria-label="Configuration" (click)="options.toggle()">
                  <md-icon title="Configuration">chrome_reader_mode</md-icon>
              </button> -->
          </section>
          <!-- <span>There are -->
          <div class="borderGroup">
            <span [ngSwitch]="items === null">
              <span *ngSwitchCase="true">
                <i class="fa fa-refresh fa-spin"></i><span class="sr-only">Loading...</span>
            </span>
            <span *ngSwitchCase="false">
                {{items.length}}
              </span>
            </span> maps
            <!-- maps you are participating in:</span> -->
            <span>
              <button (click)="mapFormShowForCreation()" *ngIf="!modeCreating && !modeEditing" class="btn btn-primary button_icon" aria-label="Create New Map" type="button"><i title="Create New Map" class="fa fa-plus-square" aria-hidden="true"></i></button>
              <!-- <button (click)="prepareCreating(); mapDialog.show()" *ngIf="!modeCreating && !modeEditing" class="btn btn-primary button_icon" aria-label="Create New Map" type="button"><i title="Create New Map" class="fa fa-plus-square" aria-hidden="true"></i></button> -->
              <button (click)="importMapFormShow()" *ngIf="!modeCreating && !modeEditing" class="btn btn-primary button_icon last" aria-label="Import Map" type="button"><i title="Import Map" class="fa fa-upload" aria-hidden="true"></i></button>
            </span>
          </div>
          <!-- TODO: maybe show these long textual buttons in wider mode
          <button class="btn btn-primary" type="submit" (click)="openMap()">Open Map</button>
          <button class="btn btn-primary" type="submit" (click)="updateMap()">Edit Map</button>
          <span class='showCreateNewMap' [ngClass]="{ 'displayNone': modeCreating || modeEditing}">
            <button class="btn btn-primary" >Create a New Map</button>
          </span>
        -->
          <!-- <span *ngIf="selectedItem" class="borderGroup">
          <button (click)="openMap()" class="btn btn-primary button_icon" aria-label="Open the Map" type="button"><span class="mapName">{{selectedItem?.name}}</span>&nbsp;<i title="Open the map" class="fa fa-folder-open" aria-hidden="true"></i></button>
          <button (click)="alertMsg = 'Maps editing is disabled for now ...'; alert.show();" class="btn btn-primary button_icon last" aria-label="Edit the Map" type="button"><i title="Edit the map" class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        </span> -->
          <button (click)="go('login')" class="whoAmI" layout-gt-md="row" layout="column" layout-align="right center" layout-wrap class="btn btn-primary borderGroup" aria-label="User management" type="button">
            <i title="User management" class="fa fa-user button_icon" aria-hidden="true"></i>
            <!-- <button md-mini-fab class="md-primary" aria-label="Person" (click)="go('login')">
              <md-icon title="Login">person</md-icon>
          </button> -->
            <div class="loggedIn">
              <span [ngSwitch]="!isRegularUserName()">
              <!-- typeof getLoggedInUserName() !== 'string'> is needed for some specific 'bug' when username is = 1 (number) so substr() in 'shorten' breaks -->
              <span *ngSwitchCase="true">
                Login ...
              </span>
              <span *ngSwitchCase="false">
                <span hide show-gt-md>{{getLoggedInUserName()}}</span><span hide-gt-md>{{shorten(getLoggedInUserName(),10)}}</span>
              </span>
              </span>
            </div>
          </button>
          <!-- <button md-mini-fab class="md-primary" aria-label="Logout" (click)="go('logout')">
              <md-icon title="Logout">directions run</md-icon>
          </button> -->
        </section>
      </md-toolbar>

      <div class="heading item" hide show-gt-md layout="row">
        <!--layout-align="center center"-->
        <div flex='40' class="item_property">Name</div>
        <!-- <div flex='20' *ngIf="policyConfig.moderating.enabled" class="item_property">Id</div> -->
        <div flex='20' class="item_property">Actions</div>
        <div flex='25' class="item_property">Authors</div>
        <!-- <div flex='15' class="item_property">Type</div> -->
        <div flex='15' class="item_property creation_date">Created</div>
      </div>

      <!-- TODO : maybe add in wider mode <h1>ColaboFramework/KnAllEdge Maps</h1> -->
      <!-- <div flex layout="column" class="list"> -->
      <div class="list">
        <div layout-align-gt-md="start center" class='item data_item' *ngFor="let item of items" layout-gt-md="row" layout="column" (click)="selectItem(item)" (dblclick)="openMap(item)" [ngClass]="{'active-selection': (selectedItem && item._id === selectedItem._id)}">
          <!-- [ngClass]="{'sm': $mdMedia('sm'), 'md': $mdMedia('md'), 'lg': $mdMedia('lg')}" -->
          <div flex-gt-md='40' layout-align="start center" class='item_property'><strong>
          {{item.name}}</strong><span *ngIf="!item.isPublic" class="back_info">&nbsp;<i class="fa fa-lock" aria-hidden="true"></i></span>
          </div>
          <!-- <div flex-gt-md='20' class='item_property' *ngIf="policyConfig.moderating.enabled" layout="row"><div flex='15' hide-gt-md class="item_header">Id</div><div class='item_data'>{{item._id}}</div></div> -->
          <div flex-gt-md='20' class='item_property' layout-align="start center" layout="row">
            <div flex='10' hide-gt-md class="item_header">Actions</div>
            <button *ngFor="let route of mapRoutes" (click)="openMap(item, route)" class="btn btn-primary button_icon" aria-label="Open the map" type="button"><i title="Open the {{route.name}}" class="fa fa-folder-open" aria-hidden="true"></i></button>
            <!-- <button (click)="alertMsg = 'Maps editing is disabled for now ...'; alert.show();" class="btn btn-primary button_icon last" aria-label="Edit the Map" type="button"><i title="Edit the map" class="fa fa-pencil-square-o" aria-hidden="true"></i></button> -->
            <button class="btn btn-primary button_icon" aria-label="Clone the map" type="button" (click)="prepareForCloning(item); cloneDialog.show();"><i title="Clone the map" class="fa fa-files-o" aria-hidden="true"></i></button>
            <button class="btn btn-primary button_icon" aria-label="Map Participants" type="button" (click)="prepareForParticipants(item); participantsList.show()"><i title="Map Participants" class="fa fa-users" aria-hidden="true"></i></button>
            <button class="btn btn-primary button_icon" aria-label="Export" type="button" (click)="export(item)"><i title="Export" class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <span *ngIf="amImapCreator(item)">
              <button class="btn btn-primary button_icon" aria-label="delete" type="button" (click)="mapForAction = item; deleteConfirm.show();"><i title="Delete the map" class="fa fa-trash" aria-hidden="true"></i></button>
    				</span>
          </div>
          <div flex-gt-md='25' class='item_property' layout="row">
            <div flex='10' hide-gt-md class="item_header">Authors</div>
            <div class='item_data'>{{item.dataContent && item.dataContent.mcm ? item.dataContent.mcm.authors : 'n/a'}}</div>
          </div>
          <!-- <div flex-gt-md='15' class='item_property' layout="row"><div flex='15' hide-gt-md class="item_header">Type</div><div class='item_data'>{{item.type !== "" && item.type ? item.type : 'n/a'}}</div></div> -->
          <!-- {{getParticipantsNames(item.participants)}} -->
          <div flex-gt-md='15' class='item_property' layout="row">
            <div flex='10' hide-gt-md class="item_header">Created</div>
            <div class='item_data'>{{formatDateTime(item.createdAt)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</md-content>


<div class="dialogs-front" id="popupContainer">
  <md-dialog #deleteConfirm (onClose)="delete($event)" (onShow)="onShowDelete($event)" (onCancel)="onCancelDelete($event)">
    <md-dialog-title>Delete map</md-dialog-title>
    {{mapForAction?.name}}?
    <md-dialog-actions ok="Yes" cancel="No"></md-dialog-actions>
  </md-dialog>

  <md-dialog #alert>
    <md-dialog-title>Alert</md-dialog-title>
    {{alertMsg}}
    <md-dialog-actions ok="Got It"></md-dialog-actions>
  </md-dialog>

  <md-dialog #cloneDialog>
    <md-dialog-title>Cloning map <span class="highlighted_name">{{mapForAction?.name}}</span></md-dialog-title>
    <div layout="column" class="md-inline-form">
      <form #cloneMapForm="ngForm" (ngSubmit)="cloneDialog.close(true); onSubmitClone()" class="inline-form">
        <div>
          <md-input placeholder="New map name" style="width: 100%" [(ngModel)]="nameOfDuplicatedMap" required name='nameOfDuplicatedMap' #name="ngModel"></md-input>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Map Name is required
          </div>
        </div>
        <div>
          <button md-button type="button" class="md-primary" (click)="cloneDialog.close(false)">Cancel</button>
          <button md-button type="submit" [disabled]="!cloneMapForm.form.valid">Clone</button>
        </div>
      </form>
    </div>
  </md-dialog>

  <md-dialog #participantsList>
    <md-dialog-title>Map <span class="highlighted_name">{{mapForAction?.name}}</span> Participants</md-dialog-title>
    <div [ngSwitch]="mapParticipants === null">
      <span *ngSwitchCase="true">
        <i class="fa fa-refresh fa-spin"></i><span class="sr-only">Loading...</span>
      </span>
      <div *ngSwitchCase="false">
        <div *ngFor="let participantID of mapForAction?.participants" layout="column">
          <div>{{getUser(participantID)}}</div>
        </div>
      </div>
    </div>
    <md-dialog-actions ok="Close"></md-dialog-actions>
  </md-dialog>

  <map-form #mapFormComponent></map-form>
  <import-map-form #importMapFormComponent></import-map-form>
</div>
