<h2>Participants</h2>
<div class='profile-parts'>
    <div>
        <participant-profile *ngFor="let participant of participants" class="participant" [participantData]="participant" [displayOptions]="displayOptions"></participant-profile>
        <!-- <sdg-card *ngFor="let sdgD of selectedSDGs" class="sdg"></sdg-card> -->
        <!-- <sdg-card *ngFor="let sdgD of selectedSDGs" class="sdg" [sdg]="sdgD"></sdg-card> -->
        <!-- <sdg-card *ngFor="let sdgD of sdgs " class="sdg " (toggled)="onToggled($event,sdgD._id) " [sdg]="sdgD "></sdg-card> -->
    </div>
</div>
