<div>
  <h2>Users Groups</h2>

  <table border="1">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>rfid</th>
    <th>image</th>
    <th>actions</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user._id}}</td>
    <td>{{user.name}}</td>
    <td>{{user?.dataContent?.coLaboWareData?.value}}</td>
    <td>
      <img src="{{user?.dataContent?.image?.url}}" width="100px"/>
    </td>
    <td>
      <button class="delete" title="delete"
      (click)="deleteUser(user)">X</button>
      <button class="delete" title="update"
      (click)="updateUser(user)">update</button>
    </td>
  </tr>
  </table>

  <h3>New users</h3>

  <label><p>New users list:</p>
    <textarea rows="10" cols="80" [(ngModel)]="new_users_list" placeholder="Place JSON list of users you want to create">
    </textarea>
  </label>
  <p>
    {{newUserId}} of {{newUsers ? newUsers.length : 0}} <b>users</b> created
  </p>
  <p>
    <button (click)="createNewUsers()">Create</button>
  </p>
</div>
