<!-- CWC - Coaching with Compassion -->
<!-- <div fxLayout="column" fxFlexFill style="height: 100%;">

    <div fxFlex="64px" style="overflow-y: hidden;">
        <mat-toolbar class="toolbar flexible mat-theme-indigo" color="primary" style="width: 100%;">
            <img src="/assets/images/colabo-logo-url-square.jpg" height="55px" style="margin-right: 7px; opacity: 0.9; border-radius: 7px;" />
            <button mat-mini-fab mat-tooltip="Home" tooltip-position="below" class="mat-mini mat-primary" aria-label="Home" routerLink="/" style="margin-right: 5px;">
                <mat-icon [ngClass]="{warning: false}" title="Home">home</mat-icon>
            </button>
        </mat-toolbar>
    </div> -->
    <h2>Insights</h2>
    <user-actions-statuses></user-actions-statuses>
    <registered-users></registered-users>
<!--
</div> -->
