/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
@import "../../../../app/sass/include";

.title{
	padding-bottom: 3px;
	border-bottom: 1px solid black;
	margin-bottom: 7px;
}
