/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/

@import "../../../sass/include";

/* ------------------------
 bootstrap wizard
------------------------ */

.switch{
	cursor: pointer;
}
.title{
	padding-bottom: 3px;
	border-bottom: 1px solid black;
	margin-bottom: 7px;
}

.wizard-main{
	position: relative;
	.rima_logo{
/*		position: absolute;
		left: 500px;
		top: 100px;
		z-index: 1001;
*/		font-size: 2em;
		margin-right: 1em;
		font-weight: bold;
		color: gray;
	}
};

wizard{
	border: 5px solid green;
	ng-form{
	    height: 100%;
	    overflow: scroll;
	}
}

/* ------------------------
 bootstrap tooltips
------------------------ */
.tooltip-inner{
	color: #bbbbff;
	background-color: #4444ff;
	font-size: 1.65em;
	min-width: 300px;
}

/* ------------------------
 rima_relevant_list
------------------------ */
.rima_relevant_list{
	background-color: rgba(240, 240, 255, 0.75);
	border: solid 1px #aaaaff;
	position: relative;
	margin-top: 0.5%;
	height: 95.5%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	@include border-radius(10px, 10px);

	.rima-relevant_whats_list{
		.title{
			font-weight: bold;
			text-align: center;

		}

		$item_background_color: #dddddd;
		.list{
			margin: 5px;
			margin-left: 1%;
			margin-bottom: 3px;
			font-size: 0.85em;
			padding: 3px;
			width: 98%;

			tr{
				/*border-bottom: 1px solid black;*/
				&.heading{
					th{
						border-bottom: 1px solid darken($item_background_color, 35%);
/*						border-left: 1px solid  darken($item_background_color, 20%);
						border-right: 1px solid  darken($item_background_color, 20%);
*/						padding: 5px;
						font-weight: bold;
						&.node{
							width: 75%;
							border-right: 1px solid  darken($item_background_color, 20%);
						}
						&.whats{
							width: 25%;
						}
					}
				}
				&.data_row{
					&:nth-child(odd) {background-color: $item_background_color;}
					&:nth-child(even) {background-color: lighten($item_background_color, 10%);}

					&:hover{
						cursor: pointer;
						background-color: darken($item_background_color, 35%);
					}
					&.active-selection{
						background-color: darken($item_background_color, 25%);
						td{
							&.node{
								font-weight: bold;
								color: lighten($item_background_color, 10%);
							}
						}
					}
					td{
						padding: 5px;
						&.node{
							border-right: 1px solid  darken($item_background_color, 20%);
						}
						&.whats{
							.relevant{
								font-weight: bold;
								color: #880000;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}

.rima_relevant{
	border: 3px solid #ff8888;
}

/*
 * Whats
 */

/*
 * What
 */

.rima-whats{
	margin-bottom: 10px;
	.rima-what{
		margin-bottom: 7px;
		display: inline-block;
	}

	.item{
		list-style-type: none;
		background-color: #cce;
		margin-right: 5px;
		margin: 5px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 1px;
		padding-bottom: 2px;
		border: 1px solid #aaa;
		border-radius: 0 15px 15px;
		&:hover{
				cursor: pointer;
				background-color: lighten(#888, 35%);
		}
	}

	.item_in_progress{
		background-color: #f3f3f3;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 3px;
		padding-top: 1px;
		padding-bottom: 2px;
		border: 1px dashed #e0e0e0;
		border-radius: 0 15px 15px;
	}

	.item_in_progress a{
		color: #8888ff;
	}

	.item a{
		color: #3333aa;
	}

	.item_delete{
		color: red;
		font-weight: bold;
		cursor: pointer;
	}

	.item_in_progress .item_delete{
		color: #ff8888;
	}

	.item_select{
		color: blue;
		font-weight: bold;
		cursor: pointer;
	}

	.item_in_progress .item_select{
		color: #ff8888;
	}

	.new-item-input{
		width: 80%;
	}

}

/* http://www.w3.org/TR/CSS2/selector.html */
.idea-detail .title-edit{
	color: #888;
	font-weight: bold;
	font-size: 20px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.idea-detail .subtitle-edit{
	color: #888;
	font-weight: 200;
	font-size: 15px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.idea-detail .title-view{
	width: 100%;
}

.idea-detail .subtitle-view{
	width: 100%;
	font-weight: 500;
	font-size: 15px;
	font-style: italic;
}



.items-creating-new{
	background-color: #f3f3f3;
	margin: 5px;
	padding: 5px;
	border: 1px dashed #e0e0e0;
	border-radius: 0 15px 15px;
}

.whats-cloud{
	&.active-selection{
		background-color: lighten(#888, 25%);
		font-weight: bold;
	}
}
.rima-hows{
    overflow: scroll;
    height: 100%;
    margin-bottom: 1000px;

	.hows_container{

	}
	.user{
		color: blue;
		font-weight: bold;
	}

	.important{
		color: red;
	}
	.how_verb{
		color: red;
	}
	.how_what{
		color: blue;
	}
	.title{
		font-weight: bold;
		text-align: center;
	}
	.finish{
		align:right;
	}
	.help_text{
		text-decoration: none;
		font-size: 16px;
		color:#004;
		font-style: normal;
	}

	$item_background_color: #888;
	.list{
		margin: 5px;
		text: 18px;
		width: 100%;

		tr{
			&:nth-child(odd) {background-color: #888;}
			&:nth-child(even) {background-color: lighten(#888, 10%);}

			&:hover{
				cursor: pointer;
				background-color: lighten(#888, 35%);

				.management{
					display : block;
					position: absolute;
					top: 2px;
					right: 2px;
					.btn{
						padding: 1px 3px;
					}
				}
			}

			td{
				padding-left: 5%;
				position: relative;
				.management{
					display: none;
				}
			}

			&.active-selection{
				background-color: lighten(#888, 25%);
				/*font-weight: bold;*/
			}
		}
		border: 1px solid #aaa;
		@include border-radius(5px, 5px);
		margin-bottom: 3px;
		padding: 3px;

		th{
			background-color: #aaf;
			border: 1px solid black;
			padding: 5px;
			font-weight: bold;
		}
		td{
			border: 1px solid black;
			padding: 5px;
		}
		/*background-color: #ccc;
		background-color: #aaf;*/
	}
	.what_input{
		padding: 5px;
		width: 60%;
		color: blue;
	}
	.how_select{
		padding: 5px;
		margin-bottom: 5px;
		display: table;
		background-color: lightblue;
	}
	.note{
		font-size: 12;
		font-style: italic;
		padding: 5px 5px;
		background-color: #ffd;
		color: darkgrey;
	}
	.subject{
		/*display: table-cell;*/
		vertical-align: middle;
		padding: 5px;
		/*width: 100%;*/
	}
	.selectTd{
		/*display: table-cell;*/
		vertical-align: middle;
		padding: 5px;
		color: red;
		/*width: 100%;*/
	}
	.select{
		color: red;
		padding: 5px;
	}
	.what_input_element{
		/*display: table-cell;*/
		vertical-align: middle;
		padding: 5px;
		width: 100%;
	}

	a.info{
	    /*position:relative;*/ /*this is the key*/
	    color:#008;
	    top:100px;
	    left:50px;
	    text-decoration:underline;
	    text-align:center;
  }

	a.info span{display: none}

	a.info:hover span{ /*the span will display just on :hover state*/
		display:block;
		position:absolute;
		top:-60px;
		width:15em;
		border:5px solid #0cf;
		background-color:#cff; color:#000;
		text-align: center;
		padding:10px;
	}

	a.info:hover span:after{ /*the span will display just on :hover state*/
		content:'';
		position:absolute;
		bottom:-11px;
		width:10px;
		height:10px;
		border-bottom:5px solid #0cf;
		border-right:5px solid #0cf;
		background:#cff;
		left:50%;
		margin-left:-5px;
		-moz-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);
	}
}

.rima-topics{
	.important{
		color: red;
	}
	.how_verb{
		color: red;
	}
	.how_what{
		color: blue;
	}
	.title{
		font-weight: bold;
		text-align: center;
	}
	.finish{
		align:right;
	}
	.help_text{
		text-decoration: none;
		font-size: 16px;
		color:#004;
		font-style: normal;
	}

	$item_background_color: #888;
	.list{
		margin: 5px;
		text: 18px;

		tr{
			&:nth-child(odd) {background-color: #888;}
			&:nth-child(even) {background-color: lighten(#888, 10%);}

			&:hover{
				cursor: pointer;
				background-color: lighten(#888, 35%);

				.management{
					display : block;
					position: absolute;
					top: 2px;
					right: 2px;
					.btn{
						padding: 1px 3px;
					}
				}
			}

			td{
				position: relative;
				.management{
					display: none;
				}
			}

			&.active-selection{
				background-color: lighten(#888, 25%);
				/*font-weight: bold;*/
			}
		}
		border: 1px solid #aaa;
		@include border-radius(5px, 5px);
		margin-bottom: 3px;
		padding: 3px;

		th{
			background-color: #aaf;
			border: 1px solid black;
			padding: 5px;
			font-weight: bold;
		}
		td{
			border: 1px solid black;
			padding: 5px;
		}
		/*background-color: #ccc;
		background-color: #aaf;*/
	}
	.what_input{
		padding: 5px;
		width: 60%;
		color: blue;
	}
	.how_select{
		padding: 5px;
		display: table;
		background-color: lightblue;
	}
	.note{
		font-size: 12;
		font-style: italic;
		padding: 5px 5px;
		background-color: #ffd;
		color: darkgrey;
	}
	.subject{
		/*display: table-cell;*/
		vertical-align: middle;
		padding: 5px;
		/*width: 100%;*/
	}
	.selectTd{
		/*display: table-cell;*/
		vertical-align: middle;
		padding: 5px;
		color: red;
		/*width: 100%;*/
	}
	.select{
		color: red;
	}
	.what_input_element{
		/*display: table-cell;*/
		vertical-align: middle;
		padding: 5px;
		width: 100%;
	}

	a.info{
	    /*position:relative;*/ /*this is the key*/
	    color:#008;
	    top:100px;
	    left:50px;
	    text-decoration:underline;
	    text-align:center;
  }

	a.info span{display: none}

	a.info:hover span{ /*the span will display just on :hover state*/
		display:block;
		position:absolute;
		top:-60px;
		width:15em;
		border:5px solid #0cf;
		background-color:#cff; color:#000;
		text-align: center;
		padding:10px;
	}

	a.info:hover span:after{ /*the span will display just on :hover state*/
		content:'';
		position:absolute;
		bottom:-11px;
		width:10px;
		height:10px;
		border-bottom:5px solid #0cf;
		border-right:5px solid #0cf;
		background:#cff;
		left:50%;
		margin-left:-5px;
		-moz-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);
	}
}

/*
	RIMA
	rima-users-list
*/

.rima-wizard{
	.whatami_wizard{
		position: relative;
		width: 80%;
		margin-left: 50%;
		left: -40%;

		border: 5px solid green;
		ng-form{
		    height: 100%;
		    overflow: scroll;
		}
	}
	.col-md-3{
		display: none;
	}
	.title{
		font-weight: bold;
		text-align: center;
		font-size: 20px;
		color: darkblue;
	}
	.padded{
		padding: 5px 5px;
	}
	.padded-around{
		padding: 10px;
	}
	.general-data {
	    display: block;
	    margin-left: 2px;
	    margin-right: 2px;
	    padding-top: 0.35em;
	    padding-bottom: 0.625em;
	    padding-left: 0.75em;
	    padding-right: 0.75em;
	    border: 2px groove #333;
	    border: solid 1px #000;
		padding:10px;
		label{
			width: 20em;
		}
	}
	.note{
		font-size: 12;
		font-style: italic;
		padding: 5px 5px;
		background-color: #ffd;
		color: darkgrey;
	}
	.submit{
		display: none;
	}
}

.rima-users-list{
	border: 1px solid #c0c0c0;
	margin-top: 3px;
	margin-right: 2px;
	.panel-title{
		font-weight: bold;
	}
	.list{
		margin: 5px;
		font-size: 18px;
		border: 1px solid #aaaaaa;
		@include border-radius(15px, 15px);

		.active-selection{
			background-color: #eee;
		}
		tr{
			margin-bottom: 3px;
			border-bottom: solid 2px #aaaaaa;
			margin-bottom: 3px;
			@include border-radius(5px, 5px);
			 &:hover{
		     	cursor: pointer;
		     	background-color: #cccccc;
		  }
		}

		th{
			background-color: #aaf;
			/*border: 1px solid black;*/
			padding: 5px;
		}
		td{
			/*border: 1px solid black;*/
			padding: 5px;
			font-size: 0.75em;
		}

		.active-selection{
			background-color: #aaf;
		}
	}
}

.rima-users-connections{
	path.link {
	  fill: none;
	  stroke: #666;
	  stroke-width: 1.5px;
	}

	path.unselected {
	  fill: none;
	  stroke: #333;
	  stroke-width: 1px;
	}

	path.selected {
	  fill: none;
	  stroke: #000;
	  stroke-width: 3px;
	}

	circle {
	  fill: #ccc;
	  stroke: #fff;
	  stroke-width: 1.5px;
	}

	text {
	  fill: #00d;
	  font: 12px sans-serif;
	  font-weight: bold;
	  pointer-events: none;
	}

	.users-graph{
		/*background-color: blue;
		width: 500px;
		height: 300px;*/
	}

}
