.user-avatar{
    border-radius: 50%;
    overflow: hidden;
    border: solid black 1px;
    width: 43px;
    vertical-align: middle;
    margin-right: 5px;
}

.header__hamburger{
    cursor: pointer;
    /* padding: 5px; */
    background-color: #673ab7;
    border: solid 1px #673ab7; /* 875ad7; */
    margin: 3px;
}

.matdrawer--container{
    /* height: 300px; */
}

.matdrawer--content{
    /* height: 1024px; */
}