<div fxLayout="column" fxFlexFill style="height: 100%;">

    <!-- toolbar -->
    <div fxFlex="64px" style="overflow-y: hidden;">
        <mat-toolbar class="toolbar flexible mat-theme-indigo" color="primary" style="width: 100%;">
            <img src="/assets/images/colabo-logo-url-square.jpg" height="55px" style="margin-right: 7px; opacity: 0.9; border-radius: 7px;" />
            <button mat-mini-fab mat-tooltip="Почетак" tooltip-position="below" class="mat-mini mat-primary" aria-label="Почетак" routerLink="/" style="margin-right: 5px;">
                <mat-icon [ngClass]="{warning: false}" title="Почетак">home</mat-icon>
            </button> Регистрација
            <!-- Colabo Register -->
        </mat-toolbar>
    </div>

    <div fxFlex style="/*background-color: yellow;*/ overflow-y:scroll; margin: 15px;">
        <!--TODO: to make localized (in Serbian) form field names and info -->
        <div *ngIf="!isLoggedIn && !isRegistered">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field class="full-width">
                        <input matInput type="email" placeholder="E-mail" formControlName="email" value="">
                        <!-- TODO like this: https://material.angular.io/components/checkbox/examples -->
                        <mat-error class="error-message">E-mail је у неисправном формату</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="full-width">
                        <input matInput type="text" placeholder="First Name" formControlName="firstName" value="">
                        <mat-error class="error-message">Име мора бити дужине барем 2 карактера</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Last Name" formControlName="lastName" value="">
                        <mat-error class="error-message">Презиме мора бити дужине барем 2 карактера</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="full-width">
                        <input matInput type="password" placeholder="Password" formControlName="password" value="">
                        <mat-error class="error-message">Шифра мора бити дужине барем 2 карактера</mat-error>
                    </mat-form-field>
                </p>
                <p>

                    <!-- <p>
                      <mat-form-field class="full-width">
                          <mat-slide-toggle matInput [checked]="true">
                            {{checked ? 'Желим да се умрежим са другим учесницима и да семо моји контакт подаци поделе са њима' :
                            'Не желим да се умрежавам са другим учесницима'}}
                          </mat-slide-toggle>
                      </mat-form-field>
                  </p>
                  <mat-form-field class="full-width">
                    <mat-checkbox matInput formControlName="networkingOK">Желим да се моји контакт подаци деле са другим учесницима зарад умрежавања</mat-checkbox>
                  </mat-form-field>
                </p> -->

                    <!-- <p>
      TODO - ADD Country
        <mat-form-field class="full-width">
          Country select
        </mat-form-field>
      </p> -->

                    <p>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Register</button>
                        <!-- <button mat-raised-button (click)="partialUpdate()">Partial Update</button>
        <button mat-raised-button (click)="fullUpdate()">Full Update</button> -->
                        <button mat-raised-button (click)="reset()">Clear</button>
                    </p>
            </form>
            If you already have account, please <a routerLink="/rima-login">Login</a> instead!
        </div>
        <div *ngIf="isRegistered">
            Hi,
            <b>{{loggedUser.dataContent.firstName}}</b>. <br/> You have successfully registered.

            <p>
                <a routerLink="/">
                    <button mat-raised-button color="primary">Continue</button>
                </a>
            </p>
            or
            <p>
                <button mat-raised-button color="primary" (click)="logOut()">Register as a new user</button>
            </p>
        </div>
        <div *ngIf="isLoggedIn && !isRegistered">
            Hi,
            <b>{{loggedUser.dataContent.firstName}}</b>. <br/> You are registered.

            <p>
                <a routerLink="/">
                    <button mat-raised-button color="primary">Home</button>
                </a>
            </p>
            or
            <p>
                <button mat-raised-button color="primary" (click)="logOut()">Register as a new user</button>
            </p>
        </div>

        <!-- <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
        <mat-form-field class="full-width">
          <input matInput placeholder="Full Name" formControlName="fullname" required>
          <mat-error *ngFor="let validation of validation_messages.fullname">
            <mat-error class="error-message" *ngIf="userDetailsForm.get('fullname').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
    	<button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!userDetailsForm.valid">Submit</button>
    </form> -->
    </div>
</div>