<div>
  <div *ngIf="suggestionsByExpertise.length !== 0">
    <span *ngIf="selectedNode !== null">
      Experts for node "<span class="topic">{{selectedNode.kNode.name}}</span>"
    </span>
    <ul class="suggestion">
      <li *ngFor="#suggestion of suggestionsByExpertise"
        [class.selected]="suggestion === selectedSuggestion"
      >
        <span class="username" [class.unknown]="suggestion.who == null">
          {{suggestion.who != null ? suggestion.who.displayName : 'unknown user'}}
        </span>
        <ul class="experise">
          <li *ngFor="#experise of suggestion.dataContent.relevantWhats">
            <span>
              {{experise.name}}
            </span>
          </li>
        </ul>
      </li>
  </ul>
</div>
<div *ngIf="suggestionsByExpertise.length === 0">
  <span *ngIf="selectedNode !== null">
    No experts found for node "<span class="topic">{{selectedNode.kNode.name}}</span>"
  </span>
</div>
