<div>
  <span>Suggestions by expertise</span>
  <div *ngIf="suggestionsByExpertise.length !== 0">
    <span *ngIf="selectedNode !== null">
      Experts for node "<span class="topic">{{selectedNode.kNode.name}}</span>"
    </span>
    <ul class="suggestion">
      <li *ngFor="let suggestion of suggestionsByExpertise"
        [class.selected]="suggestion === selectedSuggestion"
      >
        <span class="username" [class.unknown]="suggestion.who == null">
          <b>{{suggestion.who != null ? suggestion.who.displayName : 'unknown user'}}</b>
        </span>
        <ul class="experise">
          <li *ngFor="let experise of suggestion.dataContent.relevantWhats">
            <span>
              &nbsp;&nbsp;&nbsp;{{experise.name}}
            </span>
          </li>
        </ul>
      </li>
  </ul>
</div>
<div *ngIf="suggestionsByExpertise.length === 0">
  <span *ngIf="selectedNode !== null">
    No experts found for the selected node "<span class="topic">{{selectedNode.kNode.name}}</span>"
  </span>
</div>
