<mat-card class="sdg">
    <mat-card-header>
        <!-- <div mat-card-avatar class="sdg-header-image"></div> -->
        <mat-card-title class='title'>{{sdg.name}}</mat-card-title>
        <mat-card-subtitle>{{sdg.dataContent.goal}}</mat-card-subtitle>
    </mat-card-header>

    <!-- <img fxFlex="50%" mat-card-image class="picture" [src]="selectedPrompt.img"> -->
    <img mat-card-image class="picture" src="{{sdgImagesPath+sdg?.dataContent?.image?.url}}" alt="{{sdg.name}}" />

    <mat-card-content>
        <p>
            {{sdg.dataContent.desc}}
        </p>
    </mat-card-content>
    <!-- <mat-card-footer>
    </mat-card-footer>   -->
    <mat-card-actions>
        <!-- <button mat-button>SELECT</button> -->
        <mat-slide-toggle (change)="onToggling()" class="example-margin" [checked]="getState()">{{getState() ? 'selected' : 'not selected'}}</mat-slide-toggle>
    </mat-card-actions>
</mat-card>