<div>
  <span>users-clustering</span>
  <button (click)="clusterUsers()">Cluster Users</button>
  <button (click)="convertUserInterestsForAlgorithm()">Convert Users</button>
  <table>
    <!-- <tr>
      <td>REFUGEE</td>
      <td *ngFor="let user of getUsersByRole(UsersProfilingService.Roles.RE)">user.name</td>
    </tr>
      <td>LOCAL</td>
      <td *ngFor="let user of getUsersByRole(UsersProfilingService.Roles.LOCAL)">user.name</td>
    </tr>
      <td>ACTIVIST</td>
      <td *ngFor="let user of getUsersByRole(UsersProfilingService.Roles.ACTIVIST)">user.name</td>
    </tr> -->
  </table>
</div>
