<div *ngIf="showPanel()" class="brainstorming brainstorming-panel">
  <span class="phase-title">{{getPhaseName()}}</span>
  <span [hidden]="hideAddIdea()"><button md-raised-button (click)="addIdea()" type="button">Add Idea</button></span>
  <span [hidden]="hideAddArgument()"><button md-raised-button (click)="addArgument()" type="button">Add Argument</button></span>
  <button md-raised-button (click)="focusToQuestion()" type="button">Focus to Question</button>
  <md-slide-toggle [(checked)]="showOnlyBrainstorming" (checkedChange)="changedShowOnlyBrainstorming($event)"  aria-label="show only brainstorming questions and ideas">show only brainstorming questions and ideas</md-slide-toggle>
  <span [hidden]="hideShowMyIdeasSwitch()"><md-slide-toggle [(checked)]="showMyIdeas" (checkedChange)="changedShowMyIdeas($event)" aria-label="create private ideas">show my ideas</md-slide-toggle></span>
  <span [hidden]="hidePresentNextIdeaBtn()"><button md-raised-button (click)="presentNextIdea()" type="button">Present Next Idea</button></span>
</div>
