<div id="chat">
	<div class="messages_positioning">
		<div class="messages_styling">
			<ul class="messages"></ul>
		</div>
	</div>
	<div class="client_id">
		<b>clientId</b>: {{clientInfo.clientId}}
	</div>
	<div class="new_message" contenteditable="false">
		<div class="message_styling" contenteditable="false">
			<!-- Hello <b>Real-Time</b> <span style='color: red;'>world</span>!
				Some <span class='whami_reference'>@peace-maker</span> talking about <span class='topic_reference'>#peace</span> all the time! -->
			<div class="message" contenteditable="true"></div>
		</div>
		<button type="button" class="btnSend" contenteditable="false" ng-click="msgSend()">Send</button>
	</div>
</div>