<div class="mapsList">
  <h1>CollaboFramework/KnAllEdge Maps</h1>
	<div class='creatingNewMap' [ngClass]="{ 'displayNone': !modeCreating && !modeEditing}">
		<form>
    <!-- TODO: using of the form causes warning;
    *It looks like you're using the old forms module. This will be opt-in in the next RC, and
     will eventually be removed in favor of the new forms module. For more information, see:
     https://docs.google.com/document/u/1/d/1RIezQqE4aEhBRmArIAS1mRIZtWFf6JxN_7B4meyWK0Y/pub -->
			<fieldset>
				<legend>New Map</legend>
				<div><label>Name</label><input type="text" [(ngModel)]="mapToCreate.name" /></div>
				<div><label>Map Type</label><input type="text" [(ngModel)]="mapToCreate.type" /></div>
				<div><label>Root NodeType</label><input type="text" [(ngModel)]="mapToCreate.rootNodeType" /></div>
				<div><label>Parent map ID</label><input type="text" [(ngModel)]="mapToCreate.parentMapId" /></div>
				<div><label>Map Version</label><input type="text" [(ngModel)]="mapToCreate.version" /></div>
				<!-- <div><label>Participants</label><input type="text" [(ngModel)]="mapToCreate.participants" /></div> -->
				<!--<div><label>Authors</label><input type="text" [(ngModel)]="mapToCreate.dataContent?.mcm.authors" /></div>-->
		 		<p class="buttons">
					<button class="btn btn-warning" (click)="cancelled()">Cancel</button>
					<span class='showCreateNewMap' [ngClass]="{ 'displayNone': !modeCreating }">
						<button class="btn btn-primary" type="submit" (click)="createNew()">Create Map</button>
					</span>
					<span class='showCreateNewMap' [ngClass]="{ 'displayNone': !modeEditing }">
						<button class="btn btn-primary" type="submit" (click)="updateMap()">Save</button>
					</span>
				</p>
			</fieldset>
		</form>
	</div>

  <!-- <DIV>
    TEST</BR>
    <div layout-gt-sm="row" layout="column">
      <div flex>
        I'm above on mobile, and to the left on larger devices.
      </div>
      <div flex>
        I'm below on mobile, and to the right on larger devices.
      </div>
    </div>
    <div layout-gt-md="row" layout="column">
      <div flex>
        I'm above on mobile, and to the left on larger devices.
      </div>
      <div flex>
        I'm below on mobile, and to the right on larger devices.
      </div>
    </div>
  </DIV> -->

  <!-- <div layout="row" layout-fill layout-sm="column">
    <div flex>
      I'm above on mobile, and to the left on larger devices.
    </div>
    <div flex>
      I'm below on mobile, and to the right on larger devices.
    </div>
  </div> -->
  <!-- <div>TESTING
		<span>policyConfig.moderating.enabled = {{policyConfig.moderating.enabled}}</span>
	</div> -->
	<div>
		<br/>
		<span>There are
      <span [ngSwitch]="items === null">
        <span *ngSwitchCase="true">
          <i class="fa fa-refresh fa-spin"></i><span class="sr-only">Loading...</span>
        </span>
        <span *ngSwitchCase="false">
          {{items.length}}
        </span>
      </span>
    maps you are participating in:</span>
    <div layout="column" class="list">
      <div class="heading item" hide show-gt-md layout="row"> <!--layout-align="center center"-->
        <div flex='30' class="item_property">Name</div>
        <div flex='20' *ngIf="policyConfig.moderating.enabled" class="item_property">Id</div>
        <div flex='5' *ngIf="policyConfig.moderating.enabled" class="item_property">Actions</div>
        <div flex='15' class="item_property">Authors</div>
        <div flex='15' class="item_property">Type</div>
        <div flex='5' class="item_property">Participants</div>
        <div flex='10' class="item_property creation_date">Creation Date</div>
      </div>
      <div class='item data_item' *ngFor="let item of items" layout-gt-md="row" layout="column"
      (click)="selectItem(item)" [ngClass]="{'active-selection': (selectedItem && item._id === selectedItem._id)}">
       <!-- [ngClass]="{'sm': $mdMedia('sm'), 'md': $mdMedia('md'), 'lg': $mdMedia('lg')}" -->
        <div flex-gt-md='30' class='item_property'>{{item.name}}</div>
        <div flex-gt-md='20' class='item_property' *ngIf="policyConfig.moderating.enabled">{{item._id}}</div>
        <div flex-gt-md='5' class='item_property' *ngIf="policyConfig.moderating.enabled">
					<span *ngIf="policyConfig.moderating.enabled">
            <button class="btn btn-primary" aria-label="delete" type="button" (click)="delete(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            <button class="btn btn-primary" aria-label="duplicate" type="button" (click)="duplicate(item)"><i class="fa fa-clone" aria-hidden="true"></i></button>
					</span>
          <span *ngIf="!policyConfig.moderating.enabled"><!--non-moderators actions--></span>
        </div>
				<div flex-gt-md='15' class='item_property'>{{item.dataContent && item.dataContent.mcm ? item.dataContent.mcm.authors : 'n/a'}}</div>
				<div flex-gt-md='15' class='item_property'>{{item.type !== "" && item.type ? item.type : 'n/a'}}</div>
				<div flex-gt-md='5' class='item_property'>
          <button class="btn btn-primary" aria-label="show participants" type="button" (click)="showParticipants(item)"><i class="fa fa-users" aria-hidden="true"></i></button>
        </div>
				<!-- {{getParticipantsNames(item.participants)}} -->
				<div flex-gt-md='10' class='item_property'>{{formatDateTime(item.createdAt)}}</div>
      </div>
    </div>


    <!-- <span>old maps list</span>

		<table class="list">
			<tr><th *ngIf="policyConfig.moderating.enabled" class="mcm_name">Id</th>
				<th class="mcm_name">Name</th>
				<th *ngIf="policyConfig.moderating.enabled" class="mcm_name">Actions</th>
				<th class="mcm_authors">Authors</th>
				<th class="mcm_type">Type</th>
				<th>Participants</th>
				<th class="creation_date">Creation Date</th>
      </tr>
			<tr (click)="selectItem(item)" *ngFor="let item of items" [ngClass]="{'active-selection': (selectedItem && item._id === selectedItem._id)}">
				<td *ngIf="policyConfig.moderating.enabled">{{item._id}}</td>
				<td>{{item.name}}</td>
				<td *ngIf="policyConfig.moderating.enabled">
					<span *ngIf="policyConfig.moderating.enabled">
            <button class="btn btn-primary" aria-label="delete" type="button" (click)="delete(item)"><i class="fa fa-trash"></i></button>
            <button class="btn btn-primary" aria-label="duplicate" type="button" (click)="duplicate(item)"><i class="fa fa-clone"></i></button>
					</span>
          <span *ngIf="!policyConfig.moderating.enabled"></span>
        </td>
				<td>{{item.dataContent && item.dataContent.mcm ? item.dataContent.mcm.authors : ''}}</td>
				<td>{{item.type}}</td>
				<td>
          <button class="btn btn-primary" aria-label="show participants" type="button" (click)="showParticipants(item)"><i class="fa fa-clone"></i></button>
        </td>
				<td>{{formatDateTime(item.createdAt)}}</td>
			</tr>
		</table> -->

	</div>
	<p class="buttons">
		<button class="btn btn-primary" type="submit" (click)="openMap()">Open Map</button>
		<button class="btn btn-primary" type="submit" (click)="updateMap()">Edit Map</button>
		<span class='showCreateNewMap' [ngClass]="{ 'displayNone': modeCreating || modeEditing}">
			<button class="btn btn-primary" (click)="showCreateNewMap()">Create a New Map</button>
		</span>
	</p>
</div>
