<div class="mapsList" layout="column">
<!-- <div class="mapsList" layout-fill layout="column"> -->
  <md-toolbar class="mapsToolbar md-theme-indigo" color="primary">
      <span class="map-title">{{title}}</span>
      <section class="toolbar-front" layout="row" layout-sm="column" layout-align="space-between center" layout-wrap style="width: 100%;">
          <section class="commands" layout="row" layout-sm="column" layout-align="left center" layout-wrap>
              <!-- <button md-fab class="md-primary" aria-label="Configuration" (click)="settings.toggle()" [hidden]="leftOpened">
                  <i title="Settings" md-icon>settings</i>
              </button>
              <button md-fab class="md-primary" aria-label="Configuration" (click)="options.toggle()">
                  <i title="Configuration" md-icon>chrome_reader_mode</i>
              </button> -->
          </section>
            <!-- <span>There are -->
          <div class="borderGroup">
            <span [ngSwitch]="items === null">
              <span *ngSwitchCase="true">
                <i class="fa fa-refresh fa-spin"></i><span class="sr-only">Loading...</span>
              </span>
              <span *ngSwitchCase="false">
                {{items.length}}
              </span>
            </span> maps
            <!-- maps you are participating in:</span> -->
            <span>
              <button (click)="mapFormShowForCreation()" *ngIf="!modeCreating && !modeEditing" class="btn btn-primary button_icon" aria-label="Create New Map" type="button"><i title="Create New Map" class="fa fa-plus-square" aria-hidden="true"></i></button>
              <!-- <button (click)="prepareCreating(); mapDialog.show()" *ngIf="!modeCreating && !modeEditing" class="btn btn-primary button_icon" aria-label="Create New Map" type="button"><i title="Create New Map" class="fa fa-plus-square" aria-hidden="true"></i></button> -->
              <button (click)="null" *ngIf="!modeCreating && !modeEditing" class="btn btn-primary button_icon last" aria-label="Import Map" type="button"><i title="Import Map" class="fa fa-upload" aria-hidden="true"></i></button>
            </span>
        </div>
        <!-- TODO: maybe show these long textual buttons in wider mode
          <button class="btn btn-primary" type="submit" (click)="openMap()">Open Map</button>
          <button class="btn btn-primary" type="submit" (click)="updateMap()">Edit Map</button>
          <span class='showCreateNewMap' [ngClass]="{ 'displayNone': modeCreating || modeEditing}">
            <button class="btn btn-primary" >Create a New Map</button>
          </span>
        -->
        <!-- <span *ngIf="selectedItem" class="borderGroup">
          <button (click)="openMap()" class="btn btn-primary button_icon" aria-label="Open the Map" type="button"><span class="mapName">{{selectedItem?.name}}</span>&nbsp;<i title="Open the map" class="fa fa-folder-open" aria-hidden="true"></i></button>
          <button (click)="alertMsg = 'Maps editing is disabled for now ...'; alert.show();" class="btn btn-primary button_icon last" aria-label="Edit the Map" type="button"><i title="Edit the map" class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        </span> -->
        <button (click)="go('login')" class="whoAmI" layout-gt-md="row" layout="column" layout-align="right center" layout-wrap class="btn btn-primary borderGroup" aria-label="User management" type="button">
          <i title="User management" class="fa fa-user button_icon" aria-hidden="true"></i>
          <!-- <button md-fab class="md-primary" aria-label="Person" (click)="go('login')">
              <i title="Login" md-icon>person</i>
          </button> -->
          <div class="loggedIn">
            <span [ngSwitch]="!isRegularUserName()">
              <!-- typeof getLoggedInUserName() !== 'string'> is needed for some specific 'bug' when username is = 1 (number) so substr() in 'shorten' breaks -->
              <span *ngSwitchCase="true">
                Login ...
              </span>
              <span *ngSwitchCase="false">
                <span hide show-gt-md>{{getLoggedInUserName()}}</span><span hide-gt-md>{{shorten(getLoggedInUserName(),10)}}</span>
              </span>
            </span>
          </div>
        </button>
          <!-- <button md-fab class="md-primary" aria-label="Logout" (click)="go('logout')">
              <i title="Logout" md-icon>directions run</i>
          </button> -->
      </section>
  </md-toolbar>

  <!-- TODO : maybe add in wider mode <h1>CollaboFramework/KnAllEdge Maps</h1> -->
    <!-- <div flex layout="column" class="list"> -->
    <div layout="column" class="list">
      <div class="heading item" hide show-gt-md layout="row"> <!--layout-align="center center"-->
        <div flex='30' class="item_property">Name</div>
        <!-- <div flex='20' *ngIf="policyConfig.moderating.enabled" class="item_property">Id</div> -->
        <div flex='5' class="item_property">Actions</div>
        <div flex='20' class="item_property">Authors</div>
        <!-- <div flex='15' class="item_property">Type</div> -->
        <div flex='10' class="item_property creation_date">Created</div>
      </div>
      <div class='item data_item' *ngFor="let item of items" layout-gt-md="row" layout="column"
      (click)="selectItem(item)" (dblclick)="openMap(item)" [ngClass]="{'active-selection': (selectedItem && item._id === selectedItem._id)}">
       <!-- [ngClass]="{'sm': $mdMedia('sm'), 'md': $mdMedia('md'), 'lg': $mdMedia('lg')}" -->
        <div flex-gt-md='30' class='item_property'>{{item.name}}</div>
        <!-- <div flex-gt-md='20' class='item_property' *ngIf="policyConfig.moderating.enabled" layout="row"><div flex='15' hide-gt-md class="item_header">Id</div><div class='item_data'>{{item._id}}</div></div> -->
        <div flex-gt-md='5' class='item_property' layout="row"><div flex='15' hide-gt-md class="item_header">Actions</div>
          <button  *ngFor="let route of mapRoutes" (click)="openMap(item, route)" class="btn btn-primary button_icon" aria-label="Open the map" type="button"><i title="Open the {{route.name}}" class="fa fa-folder-open" aria-hidden="true"></i></button>
          <!-- <button (click)="alertMsg = 'Maps editing is disabled for now ...'; alert.show();" class="btn btn-primary button_icon last" aria-label="Edit the Map" type="button"><i title="Edit the map" class="fa fa-pencil-square-o" aria-hidden="true"></i></button> -->
          <button class="btn btn-primary button_icon" aria-label="Clone the map" type="button"
          (click)="prepareForCloning(item); cloneDialog.show();"><i title="Clone the map" class="fa fa-files-o" aria-hidden="true"></i></button>
          <button class="btn btn-primary button_icon" aria-label="Map Participants" type="button" (click)="prepareForParticipants(item); participantsList.show()"><i title="Map Participants" class="fa fa-users" aria-hidden="true"></i></button>
          <button class="btn btn-primary button_icon last" aria-label="Export" type="button" (click)="null"><i title="Export" class="fa fa-floppy-o" aria-hidden="true"></i></button>
          <span class='item_data' *ngIf="policyConfig.moderating.enabled">
            <button class="btn btn-primary button_icon" aria-label="delete" type="button" (click)="mapForAction = item; deleteConfirm.show();"><i title="Delete the map" class="fa fa-trash" aria-hidden="true"></i></button>
  				</span>
        </div>
  			<div flex-gt-md='20' class='item_property' layout="row"><div flex='15' hide-gt-md class="item_header">Authors</div><div class='item_data'>{{item.dataContent && item.dataContent.mcm ? item.dataContent.mcm.authors : 'n/a'}}</div></div>
  			<!-- <div flex-gt-md='15' class='item_property' layout="row"><div flex='15' hide-gt-md class="item_header">Type</div><div class='item_data'>{{item.type !== "" && item.type ? item.type : 'n/a'}}</div></div> -->
  			<!-- {{getParticipantsNames(item.participants)}} -->
  			<div flex-gt-md='10' class='item_property' layout="row"><div flex='15' hide-gt-md class="item_header">Created</div><div class='item_data'>{{formatDateTime(item.createdAt)}}</div></div>
      </div>
    </div>
</div>


<div class="md-padding dialogs-front" id="popupContainer">
  <md-dialog #deleteConfirm (onClose)="delete($event)">
    <md-dialog-title>Delete map</md-dialog-title>
     {{mapForAction?.name}}?
    <md-dialog-actions ok="Yes" cancel="No"></md-dialog-actions>
  </md-dialog>

  <md-dialog #alert>
    <md-dialog-title>Alert</md-dialog-title>
    {{alertMsg}}
    <md-dialog-actions ok="Got It"></md-dialog-actions>
  </md-dialog>

  <md-dialog #cloneDialog (onClose)="duplicate($event)">
    <md-dialog-title>Cloning map <span class="highlighted_name">{{mapForAction?.name}}</span></md-dialog-title>
    <div layout="column" class="md-inline-form">
      <form>
          <div>
            <md-input placeholder="New map name" style="width: 100%" [(ngModel)]="nameOfDuplicatedMap" name='nameOfDuplicatedMap'></md-input>
          </div>
      </form>
    </div>
    <md-dialog-actions>
        <button md-button (click)="cloneDialog.close(false)">
            <span>Cancel</span>
        </button>
        <button md-button class="md-primary" (click)="cloneDialog.close(true)">
            <span>Clone</span>
        </button>
    </md-dialog-actions>
  </md-dialog>

<!--
  <md-dialog #mapDialog class="creatingNewMap" (onClose)="mapDialogClosed($event)">
    <md-dialog-title>Map Creation</md-dialog-title>
      <form layout="column" class="md-inline-form">
      TODO: using of the form causes warning;
      It looks like you're using the old forms module. This will be opt-in in the next RC, and
       will eventually be removed in favor of the new forms module. For more information, see:
       https://docs.google.com/document/u/1/d/1RIezQqE4aEhBRmArIAS1mRIZtWFf6JxN_7B4meyWK0Y/pub

          <md-input placeholder="Name" [(ngModel)]="mapToCreate.name" required></md-input>
          <md-input placeholder="Map Type" [(ngModel)]="mapToCreate.type"></md-input>
          <md-input placeholder="Root NodeType" [(ngModel)]="mapToCreate.rootNodeType"></md-input>
          <md-input placeholder="Parent map ID" [(ngModel)]="mapToCreate.parentMapId"></md-input>
          <md-input placeholder="Map Version" [(ngModel)]="mapToCreate.version"></md-input>

          <md-input placeholder="Participants" [(ngModel)]="mapToCreate.participants"></md-input>
          <md-input placeholder="Authors" [(ngModel)]="mapToCreate.dataContent?.mcm.authors"></md-input>
        </form>
      <md-dialog-actions>
          <button md-button (click)="mapDialog.close(false)">
              <span>Cancel</span>
          </button>
          <button md-button class="md-primary" (click)="mapDialog.close(true)">
              <span *ngIf="modeEditing">Update</span><span *ngIf="modeCreating">Create</span>
          </button>
      </md-dialog-actions>
  </md-dialog> -->

  <md-dialog #participantsList>
    <md-dialog-title>Map <span class="highlighted_name">{{mapForAction?.name}}</span> Participants</md-dialog-title>
    <div [ngSwitch]="mapParticipants === null">
      <span *ngSwitchCase="true">
        <i class="fa fa-refresh fa-spin"></i><span class="sr-only">Loading...</span>
      </span>
      <div *ngSwitchCase="false">
        <div  *ngFor="let participantID of mapForAction?.participants" layout="column">
         <div>{{getUser(participantID)}}</div>
       </div>
     </div>
   </div>
    <md-dialog-actions ok="Close"></md-dialog-actions>
  </md-dialog>

  <map-form #mapFormComponent></map-form>
</div>
