<!-- <B>WhoAmI</B> RIMA Wizard
 -->
<div wizard current-step-number="currentStepNumber" submit="submit()">
	<div wizard-step title="step 1" entered="stepEntered()" animation="slide">
		<div class="general-data">
			<p class="title">Welcome to CollaboScience!</p>
			<form>
				<fieldset>
					<legend>General data</legend>
					<div><label>First name</label><input type="text" required ng-model="whoAmI.firstname" /></div>
					<div><label>Last name</label><input type="text" required ng-model="whoAmI.familyname" /></div>
					<div><label>Display name</label><input type="text" required ng-model="whoAmI.displayName" /><span class='note'>(shorter - preferrably, up to 10 characters, no spaces)</span></div>
					<div><label>email</label><input type="text" required ng-model="whoAmI.e_mail" /></div>
				</fieldset>
			</form>
		</div>
	</div>
	<div wizard-step title="step 2" required-step-number="0" entered="stepEntered()" animation="slide">
		<p>step 2</p>
		<div class="general-data">
			<p class="title">Get most from CollaboScience!</p>
			<form>
				<fieldset>
					<legend>Conferencing Details</legend>
					<div>
						<label>Skype Contact</label>
						<span ng-show="bindings.noSkype" class="note">Skype is not required, but without it, it might be difficult to perform online dialogues</span>
						<input type="text" ng-show="!bindings.noSkype" ng-model="whoAmI.extensions.contacts.skype" required />
						<span class='padded'>
							<input type="checkbox" ng-model="bindings.noSkype" ng-change="noSkypeChange()"/>
							<label class="note">I don't have / don't want to provide skype contact</label>
						</span>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div wizard-step title="step 3" required-step-number="1" required-step-number="1" entered="stepEntered()" animation="slide">
		<p>step 3</p>
			<div rima-hows class="rima-hows"></div>
	</div>
</div>