<B>Interests:</B>
<div rima-what class="rima-what" ng-repeat="item in items" item="item" is-last="$last" readonly="readonly || item.inProgress" item-select="itemSelect(item)" item-remove="itemRemove(item)">
</div>

<br/>
<span ng-show="!readonly && !decoratingIdeaPartial">
<!-- <pre>Model: {{asyncSelected | json}}</pre> -->
<input type="text" ng-model="asyncSelected" placeholder="Select WHAT" typeahead="item as item.name for item in getItems($viewValue) | filter:{name:$viewValue}" typeahead-loading="loadingLocations" typeahead-on-select="newItemSelected($item, $model, $label)" ng-keyup="$event.keyCode == 13 ? enterPressed(asyncSelected) : null" class="new-item-input">

<button ng-if="asyncSelected" class="btn btn-primary" type="button" ng-click="addClicked(asyncSelected)">Add</button>

<br/>
<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh">...</i>

</span>