table {
    width: 100%;
}

/* .participants{
    width: 100px;
} */
  
.header{
    text-align: center;
}

.button{
    margin: 2px;
}

.action_icon{
    margin: 1px;
}

.vertical-middle{
    vertical-align: middle
}