/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
@import "../../../app/sass/include";

$new_message_height: 2em;
$chat_header_height: 1em;
$new_message_controls_width: 4em;
$btn_color: #eeeeff;

.client_id{
	z-index: 20001;
	position: absolute;
	font-size: 0.7em;
	margin-top: 0.1em;
}

.topichat-chat {
	height: 80%;
	width: 100%;
	overflow: hidden;
}

.whami_reference{
	color: #0000aa;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;

	@include transition-property(color);
	@include transition-duration(0.25s);
	@include transition-timing-function(ease-in);

	&:hover{
		color: lighten(#0000aa, 30%);
	}
}

.topic_reference{
	color: #aa0000;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;

	@include transition-property(color);
	@include transition-duration(0.25s);
	@include transition-timing-function(ease-in);

	&:hover{
		color: lighten(#aa0000, 20%);
	}
}

#chat{
	position: relative;
	height: 100%;
	width: 100%;
	/*background-color: #dddd00;
	border: solid 1px #aaaa00;*/
	overflow: hidden;

	.messages_positioning{
		margin: 0px;
		padding: 5px;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		padding-bottom: $new_message_height + 0.1em;
		padding-top: $chat_header_height + 0.1em;

		.messages_styling {
			padding: 5px;
/*			TODO: Not working well, due to height: 100% 
			we cannot introduce margins/paddings since it will bring overflowing
			margin-top: 0.4em; */
			background-color: #eeeeff;
			border: 1px dashed #ffaaaa;
			@include border-radius(10px, 10px);

			position: relative;
			height: 100%;
			width: 100%;


			.messages {
				list-style-type: none;
				overflow-y: scroll;
				position: relative;
				height: 100%;
				width: 100%;

				li {
					padding: 5px 10px;
					border-bottom: 1px solid #ddddff;
		
					&:nth-child(odd) {
						background: #eee;
					}
				}
			}
		}
	}

	.new_message {
/*		background-color: #dddddd;
		border: solid 1px #888888;
*/		margin: 0px;
		padding: 3px;

		width: 100%;
		height: $new_message_height - 0.5em;
		position: absolute;
		z-index: 2;
		bottom: 0.4em;

		.message_styling{
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
			/*TODO: how can it be fine - 1em ?!*/
			padding-right: $new_message_controls_width - 0.5em;

			.message {
				overflow-y: scroll;	
				padding: 2px;
				background: #bbbbff;
				border: 1px dashed #333333;
				position: relative;
				width: 100%;
				height: 100%;
				font-size: 0.85em;
				color: #000088;
				font-weight: bold;
			}
		}

		.btnSend {
			position: absolute;
			z-index: 4;
			width: $new_message_controls_width;
			background-color: $btn_color;
			border: 1px solid #ffaaaa;
			@include border-radius(0.5em, 0.5em);
			margin: 3px;
			margin-top: 0.3em;
			padding-top: 0.2em;
			padding-bottom: 0.2em;
			padding-left: 0.5em;
			padding-right: 0.5em;
			top: 0px;
			right: 0px;
			font-size: 0.75em;

			@include transition-property(color);
			@include transition-property(color);
			@include transition-duration(0.5s);
			@include transition-timing-function(ease-in);

			&:hover{
				color: darken($btn_color, 80%);
			}
		}
	}
}