/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
/* @import "normalize"; */
/*
$medium: 800px;
$large: 1400px;
*/
/*
	http://compass-style.org/examples/compass/css3/box_sizing/
	http://www.w3schools.com/cssref/css3_pr_box-sizing.asp
	http://stackoverflow.com/questions/10808413/css3-box-sizing-margin-box-why-not
*/
/* line 22, ../../../app/sass/_include.scss */
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 4, ../sass/default.scss */
h1 {
  padding-bottom: 5px;
  border-bottom: solid gray 1px; }

/* line 10, ../sass/default.scss */
.list {
  margin: 5px;
  margin-left: 1%;
  margin-bottom: 3px;
  font-size: 0.85em;
  padding: 3px;
  width: 98%; }
  /* line 18, ../sass/default.scss */
  .list tr {
    /*border-bottom: 1px solid black;*/ }
    /* line 21, ../sass/default.scss */
    .list tr.heading th {
      border-bottom: 1px solid #848484;
      /*						border-left: 1px solid  darken($item_background_color, 20%);
      				border-right: 1px solid  darken($item_background_color, 20%);
      */
      padding: 5px;
      font-weight: bold; }
    /* line 30, ../sass/default.scss */
    .list tr.data_row:nth-child(odd) {
      background-color: #dddddd; }
    /* line 31, ../sass/default.scss */
    .list tr.data_row:nth-child(even) {
      background-color: #f7f7f7; }
    /* line 33, ../sass/default.scss */
    .list tr.data_row:hover {
      cursor: pointer;
      background-color: #848484; }
    /* line 37, ../sass/default.scss */
    .list tr.data_row td {
      padding: 5px; }
