<div>
    <!-- <div><button mat-raised-button (click)="submit()" [disabled]="!correctSelection()">Submit</button></div> -->
    <button color="primary" mat-raised-button (click)="openDialog()">Dialog</button>
    <h1>United Nations Sustainable Development Goals (SDGs)</h1>
    <div>
      {{getActionMessage()}}
      <button color="primary" mat-raised-button (click)="submit()" [disabled]="!canSubmit()">Submit</button></div>
      <br/><br/><br/><br/><br/>
    <!-- Test 1:
  <ul *ngIf="sdgs">
    <li *ngFor="let sdgD of sdgs">
        {{sdgD.name}}
    </li>
  </ul> -->

    <!-- Test 2:
  <div *ngFor="let sdgD of sdgs | async">
    {{ sdgD | json }}
  </div> -->

    <!-- Real: -->
    <div class='sdgs' fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">

    <!-- <mat-list>
        <h3 mat-subheader>SDGs</h3>
        <mat-list-item  *ngFor="let sdgD of sdgs"> -->
          <!-- <sdg-card class="card" (toggled)="onToggled($event,sdgD._id)" [sdg]="sdgD"></sdg-card> -->
          <sdg-card *ngFor="let sdgD of sdgs" class="sdg" (toggled)="onToggled($event,sdgD._id)" [sdg]="sdgD"></sdg-card>

        <!-- </mat-list-item>
    </mat-list> -->
    </div>
</div>
