<div>
    <!-- <div><button mat-button (click)="submit()" [disabled]="!correctSelection()">Submit</button></div> -->
    <h1>United Nations Sustainable Development Goals (SDGs)</h1>
    <div>
      {{getActionMessage()}}
      <button mat-button (click)="submit()" [disabled]="!correctSelection()">Submit</button></div>
      <br/><br/><br/><br/><br/>
    <!-- Test 1:
  <ul *ngIf="sdgs">
    <li *ngFor="let sdgD of sdgs">
        {{sdgD.name}}
    </li>
  </ul> -->

    <!-- Test 2:
  <div *ngFor="let sdgD of sdgs | async">
    {{ sdgD | json }}
  </div> -->

    <!-- Real: -->
    <mat-list>
        <h3 mat-subheader>SDGs</h3>
        <mat-list-item  *ngFor="let sdgD of sdgs">
            <sdg-card (toggled)="onToggled($event,sdgD._id)" [sdg]="sdgD"></sdg-card>
        </mat-list-item>
    </mat-list>
</div>
