<div class="brainstorming brainstorming-panel">
  <span class="phase-title">{{getPhaseName()}}</span>
  <button md-button (click)="addNewIdea()" type="button">Add New Idea</button>
  <button md-button (click)="focusToQuestion()" type="button">Focus to Question</button>
  <md-switch [(checked)]="showOnlyBrainstorming" aria-label="create private ideas">show only brainstorming questions and ideas</md-switch>
  <span [hidden]="hideShowMyIdeasSwitch()"><md-switch [(checked)]="showMyIdeas" aria-label="create private ideas">show my ideas</md-switch></span>
</div>
