.prompt{
  width: 100%;
}
.img {
  width: 100%;
  margin-bottom: 18%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}

.search-form {
  width: 90%;
}

.picture_and_verse{
  margin-top: 50px;
}

.picture_and_verse .text{
  font-weight: bold;
  font-style: italic;
  margin-left: 50px;
}

.picture_and_verse .text .text-1{
  text-align: center;
  font-size: 4em;
}
.picture_and_verse .text .text-2{
  margin-top: 1em;
  border-top: black 1px solid;
  padding-top: 1em;
  text-align: center;
  font-size: 3em;
}
