@import "../../../sass/include";

.change_card{
  padding: 3px;

  md-card-content{
    padding: 2px;
    margin: 3px;
  }

  .event-icon{
    padding: 5px;
    margin-left: -3px;
    margin-top: -3px;
    margin-right: 6px;
    background-color: #b0b0b0;
  }

  .user{
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: LightBlue;
    }
  }

  .value_object{
    font-weight: bold;
    border: solid gray 1px;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
    .existing{
      cursor: pointer;
      &:hover {
        background-color: LightBlue;
      }
    }
    .non-existing{
      cursor: not-allowed;
      color: DarkGray;
    }
  }
}
