table {
  width: 100%;
}

/* 
this doesn't work. It has to be in `src/frontend/apps/psc/src/styles.css`. 
https://stackoverflow.com/questions/48578559/how-to-modify-angular-material2-mat-checkbox-left-icon-size-and-color
.mat-checkbox-inner-container {
  margin-left: 1px !important;
  margin-right: 2px !important;
} */
