/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
/* @import "normalize"; */
/*
$medium: 800px;
$large: 1400px;
*/
/*
	http://compass-style.org/examples/compass/css3/box_sizing/
	http://www.w3schools.com/cssref/css3_pr_box-sizing.asp
	http://stackoverflow.com/questions/10808413/css3-box-sizing-margin-box-why-not
*/
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  padding-bottom: 5px;
  border-bottom: solid gray 2px; }

.list {
  margin: 5px;
  margin-bottom: 3px;
  padding: 3px;
  width: 98%;
  border-bottom: 1px solid #7c7c7c;
  justify-content: space-between; }
  .list .heading {
    font-weight: bolder;
    background-color: #aaaaff;
    border-bottom: 2px solid #7777ff; }
  .list .item {
    width: 100%; }
    .list .item.data_item {
      background-color: #a2a2a2; }
      .list .item.data_item:nth-child(even) {
        background-color: #888888; }
      .list .item.data_item.active-selection {
        background-color: #747487; }
      .list .item.data_item:hover {
        cursor: pointer;
        background-color: #74749a; }
    @media (max-width: 960px) {
      .list .item {
        /* adding straps in column view (small-screens)*/
        /* another approach for headers in mobile-version
        .item_property:nth-of-type(2):before { content: "Id"; }
        .item_property:nth-of-type(3):before { content: "Actions"; }
        .item_property:nth-of-type(4):before { content: "Authors"; }
        .item_property:nth-of-type(5):before { content: "Type"; }
        .item_property:nth-of-type(7):before { content: "Created"; }
        */ }
        .list .item .item_property:nth-of-type(even) {
          background-color: #888888; }
        .list .item .item_property:nth-of-type(odd) {
          background-color: #a2a2a2; }
        .list .item .item_property:first-of-type {
          background-color: #aaaaff;
          font-weight: bold; } }
    .list .item .item_property {
      /* NECESSARY FOR EQUAL WIDTH OF ALL CELLS IN A COLUMN */
      /* NECESSARY FOR EQUAL WIDTH OF ALL CELLS IN A COLUMN - without it equal column width is  disturbed when columns become narrower than a word */
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-all;
      word-break: break-word;
      padding: 3px;
      /* another approach for headers in mobile-version
      &:before {
      	width: 100px; //35%;
      	padding-right: 10px;
      	white-space: nowrap;
      	border-right: 1px solid darken($item_background_color, 35%);
      }
      */
      /* NECESSARRY for cases when we hide some columns so that sum of thei `flex` paramethers (widths) is not === 100 */
      max-width: 100%;
      /* NECESSARRY for filling up whole cell so that border is not shown in the middle of the cell for low cells */
      max-height: 100%;
      min-height: 1em; }
      .list .item .item_property .item_header {
        padding-right: 10px;
        white-space: nowrap;
        border-right: 1px solid #bcbcbc;
        /* TODO still not breaking words */
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
        word-break: break-word; }
      @media (max-width: 960px) {
        .list .item .item_property .item_data {
          padding-left: 10px; } }
  @media (max-width: 960px) {
    .list {
      /* adding  hover and selectd for mobile-view*/ }
      .list .item.active-selection .item_property:nth-of-type(even) {
        background-color: #747487; }
      .list .item.active-selection .item_property:nth-of-type(odd) {
        background-color: #8a8a9d; }
      .list .item.active-selection .item_property:first-of-type {
        background-color: #aaaaff; }
      .list .item:hover {
        cursor: pointer; }
        .list .item:hover .item_property:nth-of-type(even) {
          background-color: #74749a; }
        .list .item:hover .item_property:nth-of-type(odd) {
          background-color: #8a8ab0; }
        .list .item:hover .item_property:first-of-type {
          background-color: #aaaaff; } }

.buttons {
  text-align: left; }

/*# sourceMappingURL=maps-list.component.css.map */
