<!-- main container -->

<div layout="column" layout-fill style="height: 100%;">
    <!-- content -->
    <!-- toolbar -->
    <mat-toolbar class="toolbar flexible mat-theme-indigo" color="primary" style="width: 100%;">
        <!-- <section layout="row" layout-sm="column" layout-align="space-between center" layout-wrap style="width: 100%;"> -->
        <!-- <section class="commands" layout="row" layout-sm="column" layout-align="left center" layout-wrap> -->

        <img src="/assets/images/colabo-logo-url-square-original.jpg" width="50px" />

        <span style="margin-left:10px; margin-right: 10px;"> : </span>

        <button mat-mini-fab mat-tooltip="Home" tooltip-position="below" class="mat-mini mat-primary" aria-label="Home" routerLink="/" style="margin-right: 5px;">
            <mat-icon [ngClass]="{warning: false}" title="Home">home</mat-icon>
        </button>

        <button mat-mini-fab mat-tooltip="Map" tooltip-position="below" class="mat-mini mat-primary" aria-label="Map" routerLink="/map" style="margin-right: 5px;">
            <mat-icon [ngClass]="{warning: false}" title="Map">share</mat-icon>
        </button>

        <span style="margin-left:10px; margin-right: 10px;"> : </span>
        <h1>
            CoLabo.Space
        </h1>
    </mat-toolbar>
</div>

<!-- 
    https://material.io/tools/icons/?icon=share&style=baseline 
-->
<!-- Main content -->
<!-- the <router-outlet> tells the router where to display routed views -->
<router-outlet></router-outlet>