<p>Hello {{name}},</p>

<p>Please check the link <a href="www.collaboscience.com/{{id}}">CollaboScience.com</a>.</p>

<p>Best regards,<br/>
<span style="font-weight: bold;">Collabo<span style="font-style: italic; color: gray;">Science</span></span></p>

<p>If your email is not: {{email}}, let us know