Hello {{name}},

Please check the link <a href="www.collaboscience.com">CollaboScience.com</a>.

Best regards,
<span style="font-weight: bold;">Collabo<span style="font-style: italic; color: gray;">Science</span></span>