<div class="ibis-actions-form" *ngIf="isPresenting()">
    <button md-mini-fab class="md-mini md-primary" aria-label="Question" (click)="onQuestionItem()">
      <md-icon title="Question">?</md-icon>
    </button>

    <button md-mini-fab class="md-mini md-primary" aria-label="Idea" (click)="onIdeaItem()">
      <md-icon title="Idea">lightbulb_outline</md-icon>
    </button>

    <button md-mini-fab class="md-mini md-primary" aria-label="Argument" (click)="onArgumentItem()">
      <md-icon title="Argument">compare_arrows</md-icon>
    </button>

    <button md-mini-fab class="md-mini md-primary" aria-label="Comment" (click)="onCommentItem()">
      <md-icon title="Comment">comment</md-icon>
    </button>

    <button md-mini-fab class="md-mini md-primary" aria-label="Vote Up" (click)="onVoteUpItem()">
      <md-icon title="Vote Up">thumb_up</md-icon>
    </button>

    <button md-mini-fab class="md-mini md-primary" aria-label="Vote Down" (click)="onVoteDownItem()">
      <md-icon title="Vote Down">thumb_down</md-icon>
    </button>

	<!--
	flash_auto

	-->

<!-- 	<div class="content" [hidden]="!componentShown">
		<table class="list">
			<tr (click)="selectItem(item)" *ngFor="let item of items"
			[ngClass]="{'row': true, 'active-selection': item._id === selectedItem._id}">
				<td>{{item.name}}</td>
			</tr>
		</table>
	</div>
 -->
 </div>
