<div>
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <!-- <mat-card class="prompt" [@promptState]="prompt.state" (@promptState.done)="promptAnimationFinished($event)" (click)="promptNext(prompt)" *ngFor="let prompt of prompts"> -->
    <mat-card class="prompt" [@promptState]="selectedPrompt.state" (@promptState.done)="promptAnimationFinished($event)" (click)="promptNext(selectedPrompt)">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" class="title">
        <span fxFlex="20%" class="title">{{selectedPrompt.title}}</span>
        <span fxFlex="50%" class="contact">COLABOARTHON_NUMERO:
          <span style="font-weight:bold; font-size: 1.2em">{{selectedPrompt.contact}}</span>
        </span>
        <span fxFlex="30%" class="message">SMS:
          <span style="font-weight:bold; font-size: 1.2em">{{selectedPrompt.message}}</span>
        </span>
        <!-- <mat-icon fxFlex="10%">mode_edit</mat-icon>
        <mat-icon fxFlex="10%">delete</mat-icon> -->
      </mat-card-title>
      <div fxLayout.gt-xs="row" fxLayout.xs="column" class="picture_and_verse">
        <img fxFlex="50%" mat-card-image class="picture" [src]="selectedPrompt.img">
        <div fxFlex="50%" class="text">
          <div class="text-1">
            {{selectedPrompt.text['it']}}
          </div>
          <div class="text-2">
            {{selectedPrompt.text['eng']}}
          </div>
        </div>
      </div>
    </mat-card>
  </div>

</div>
