<div class="logout">
	<div ng-if="whoAmI">
		Godbye: {{whoAmI.firstname}} {{whoAmI.familyname}}<br/>
 		<p class="buttons">
			<button class="btn btn-primary" ng-click="login()">Log in</button>
			<button class="btn btn-warning" ng-click="gotoMainPage()">Main Page</button>
		</p>
	</div>
	<div ng-if="!whoAmI">
		No user is logged in<br/>
 		<p class="buttons">
			<button class="btn btn-primary" ng-click="login()">Log in</button>
			<button class="btn btn-warning" ng-click="gotoMainPage()">Main Page</button>
		</p>
	</div>
</div>