<div class="plugins-list">
	<h1>Plugins list</h1>
	<div class="list">
		Plugins no: {{pluginsNo}}<br/>

		<table class="list">
			<tr class="heading"><th>Name</th><th>items</th></tr>

			<tr class="data_row" ng-repeat="(pluginName, pluginInfo) in pluginsInfo">
				<td class="cell">{{pluginName}}</td>
				<td><b>[{{getItemsNo(pluginInfo)}}]</b> : 
				<span ng-repeat="(entryName, entry) in pluginInfo">{{entryName}} {{$last ? '' : ','}} </span>
				</td>
			</tr>
		</table>
	</div>

	<h1>References list</h1>
	<div class="list">
		References no: {{referencesNo}}<br/>
		<table class="list">
			<tr class="heading"><th>Name</th><th>items</th></tr>

			<tr class="data_row" ng-repeat="(referenceName, referenceInfo) in referencesInfo">
				<td class="cell">{{referenceName}}</td>
				<td><b>[{{getItemsNo(referenceInfo)}}]</b> : 
				<span ng-repeat="(entryName, entry) in referenceInfo">{{entryName}} {{$last ? '' : ','}} </span>
				</td>
			</tr>
		</table>
	</div>

	<h1>APIs list</h1>
	<div class="list">
		APIs no: {{apisNo}}<br/>
		<table class="list">
			<tr class="heading"><th>Name</th><th>items</th></tr>

			<tr class="data_row" ng-repeat="(apiName, apiInfo) in apisInfo">
				<td class="cell">{{apiName}}</td>
				<td><b>[{{getItemsNo(apiInfo)}}]</b> : 
				<span ng-repeat="(entryName, entry) in apiInfo">{{entryName}} {{$last ? '' : ','}} </span>
				</td>
			</tr>
		</table>
	</div>
</div>