<h3>Get Map</h3>
<label>map_id (should be equal to the id of an existing map in your db):</label>
  <input [(ngModel)]="map_id" placeholder="name"/>
<div class='demo_sub_block'>
  Map id: {{map?._id}}<br/>
  Map name: {{map?.name}}<br/>
  <div *ngIf="map?.participants && map?.participants.length > 0" class="bordered_light">
    <label class="padding">Participants</label>
      <li *ngFor="let participant of map.participants">
          <span class="badge">{{participant}}</span>
      </li>
  </div>
  <button (click)="getMap()">getMap</button>
</div>
<button (click)="getMapContent()">getMapContent</button>
<div>
  <table>
    <tr>
      <td>
        <label class="padding"><B>Nodes from the map</B></label>
        <li *ngFor="let node of nodes">
            <span class="badge">{{node.name}}</span> {{node._id}}
        </li>
      </td>
      <td>
        <label class="padding"><B>Edges from the map</B></label>
        <li *ngFor="let edge of edges">
            <span class="badge">{{edge._id}}</span> {{edge.sourceId}} -> {{edge.targetId}}
        </li>
      </td>
    </tr>
  </table>
</div>
