@import "../../../sass/include";

// .brainstorming{
  .user{
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: LightBlue;
    }
  }

  .warning{
    color: red;
  }

  .node{
    font-weight: bold;
    border: solid gray 1px;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
    .existing{
      cursor: pointer;
      &:hover {
        background-color: LightBlue;
      }
    }
    .non-existing{
      cursor: not-allowed;
      color: DarkGray;
    }
  }
// }
