<mat-card class="user-card">
    <mat-card-header>
        <div mat-card-avatar class="user-header-image"></div>
        <mat-card-title class='title'>{{userData?.name}}</mat-card-title>
        <mat-card-subtitle>{{userData?.dataContent?.email}}</mat-card-subtitle>
    </mat-card-header>

    <!-- <img fxFlex="50%" mat-card-image class="picture" [src]="selectedPrompt.img"> -->
    <!-- <img mat-card-image class="picture" src="{{userImagesPath + 'user' + user?.dataContent?.humanID + '.jpg'}}" alt="{{user.name}}" /> -->
    <img mat-card-image class="picture" src="{{imgPath()}}" alt="{{userData?.name}}" />
    
    <!-- <mat-card-content>
        <p>
            {{user.dataContent.desc}}
        </p>
    </mat-card-content> -->
    <!-- <mat-card-footer>
    </mat-card-footer>   -->
    <!-- <mat-card-actions>
        <mat-slide-toggle (change)="onToggling()" class="example-margin" [checked]="getState()">{{getState() ? 'selected' : 'not selected'}}</mat-slide-toggle>
    </mat-card-actions> -->
</mat-card>
