<div fxLayout="column" fxFlexFill style="height: 100%;">
  <!-- toolbar -->
  <div fxFlex="64px" style="overflow-y: hidden;">
    <mat-toolbar
      class="toolbar flexible mat-theme-indigo"
      color="primary"
      style="width: 100%;"
    >
      <div class="home">
        <a href="/" title="Home">
          <img
            alt="Home"
            src="/assets/images/colabo-logo-url-square.jpg"
            height="55px"
            style="margin-right: 7px; opacity: 0.9; border-radius: 7px;"
          />
        </a>
      </div>
      <!-- <div><button mat-raised-button (click)="submit()" [disabled]="!correctSelection()">Submit</button></div> -->
      <!-- <button color="primary" mat-raised-button (click)="openDialog()">Dialog</button> -->
      <div fxLayout="row">
        <button
          class="submit"
          *ngIf="canSubmit()"
          color="accent"
          mat-raised-button
          (click)="onSubmit()"
        >
          {{ saved ? "Submitted" : "Submit" }}
        </button>
        <selected-sdgs></selected-sdgs>
        <span class="sdg-title"> {{ getActionMessage() }}</span>
        <span
          *ngIf="saved"
          matTooltip="delete my SDGs selections"
          (click)="deleteSDGSelection()"
          ><mat-icon>delete</mat-icon></span
        >
      </div>
    </mat-toolbar>
  </div>

  <div fxFlex style="/*background-color: yellow;*/ overflow-y:scroll;">
    <div *ngIf="!isLoggedIn" style="margin: 15px;">
      <p>
        To access this page you need:
      </p>
      <a routerLink="/rima-login">
        <button mat-raised-button color="primary">Login</button>
      </a>

      <p>
        or
      </p>
      <a routerLink="/rima-register">
        <button mat-raised-button color="primary">Register</button>
      </a>
    </div>
    <div *ngIf="isLoggedIn">
      <div style="margin: 15px;">
        <!-- <div><button mat-raised-button (click)="submit()" [disabled]="!correctSelection()">Submit</button></div> -->
        <!-- <button color="primary" mat-raised-button (click)="openDialog()">Dialog</button> -->
        <!-- <h3>United Nations - Циљеви одрживог развоја (SDGs)</h3> -->

        <h3>United Nations - Sustainable Development Goals (SDGs)</h3>
        <!-- <h3 style="color:blue">
          {{ userName() }}, <span *ngIf="!saved">you need to select </span
          ><span *ngIf="saved">you have selected</span
          ><span style="color:red"> THREE</span> SDGs
        </h3> -->
        <!-- <h1>United Nations Sustainable Development Goals (SDGs)</h1> -->
        <!-- <br /><br /><br /><br /><br /> -->

        <div
          class="sdgs"
          fxLayout="row wrap "
          fxLayout.xs="column "
          fxLayoutGap="0.5% "
          fxLayoutAlign="center "
        >
          <div class="relative-container" *ngIf="loadingSDGs">
            <span class="vertical-center rfr-box" 
              ><mat-icon class="refresh rotating">refresh</mat-icon>
              <span>loading ...</span>
            </span>
          </div>
          <sdg-card
            *ngFor="let sdgD of sdgs"
            class="sdg "
            (toggled)="onToggled($event, sdgD._id)"
            [sdg]="sdgD"
            [disabledSelection]="selectionDisabled()"
            [selected]="isSdgSelected(sdgD._id)"
          ></sdg-card>
        </div>
      </div>
    </div>
  </div>
</div>
