.dialogame-card{
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
}

.userName{
  vertical-align: top;
}

.card-img{
  width:90%;
  height: 90%;
  max-width: 300px;
}

.user-img{
  left: 19px;
  padding: 3px;
  margin: 0px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}
