/* You can add global styles to this file, and also import other style files */

/* Material fonts */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';

/* Material theme */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto;
}

html, body, material-app, mat-sidenav-container, .main_content {
  margin: 0;
  width: 100%;
  height: 100%;
}
