<div id="popupContainer" style="width:90%">
    <md-dialog #mediaShowDialog style="width:90%" class="mediaShowDialog" (onClose)="onMediaShowCloseClicked($event)">
        <md-dialog-title>{{mediaTitle}}</md-dialog-title>
        <div layout="column" style="width:90%">
            <img *ngIf="mediaImageUrl" [attr.src]="mediaImageUrl" width="100%" (click)="mediaShowDialog.close(false)" [attr.alt]="mediaTitle"/>
            <div *ngIf="mediaContent" [innerHTML]="mediaContent"></div>
        </div>

        <md-dialog-actions>
            <button md-button class="md-primary" (click)="mediaShowDialog.close(false)">
                <span>OK</span>
            </button>
        </md-dialog-actions>
    </md-dialog>
</div>
