<div>
<!--TODO: to make localized (in Serbian) form field names and info -->


  <form [formGroup]="form" (ngSubmit)="onSubmit()"> <!-- https://blog.angular-university.io/introduction-to-angular-2-forms-template-driven-vs-model-driven/ -->
      <p>
          <label>First Name:</label>
          <input type="text" formControlName="firstName">
      </p>
      <p>
          <label>Password:</label>
          <input type="password" formControlName="password">
      </p>
      <p>
        <button type="submit" [disabled]="!form.valid">Submit</button>
        <button (click)="partialUpdate()">Partial Update</button>
        <button (click)="fullUpdate()">Full Update</button>
        <button (click)="reset()">Cancel</button>
      </p>
  </form>

  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput type="email" required placeholder="E-mail" name="email" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" name="firstName" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name" name="lastName" value="">
    </mat-form-field> -->
<!--TODO: should we pre-select Serbia (than non-Serbians might leave it like that)? maybe to speed it up with a check-box "I'm from Serbia" that disable the country select -->
    <!-- <mat-form-field>
    <mat-select placeholder="Your Country" [(ngModel)]="selectedCountry" name="country">
      <mat-option *ngFor="let country of getWorldCountries()" [value]="country">
        {{country}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p> Selected value: {{selectedCountry}} </p>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form> -->
</div>
