<mat-card class="dialogame-card">
    <mat-card-header>
        <!-- <div mat-card-avatar class="sdg-header-image"></div> -->
        <!-- <mat-card-title class='title'>{{cardData.dataContent.humanID + '. ' + cardData.name}}</mat-card-title> -->
        <!-- <mat-card-subtitle>{{cardData.dataContent.goal}}</mat-card-subtitle> --> 
    </mat-card-header>

    <!-- <img fxFlex="50%" mat-card-image class="picture" [src]="selectedPrompt.img"> -->
    <img mat-card-image class="picture" src="{{sdgImagesPath + 'sdg' + sdg?.dataContent?.humanID + '.jpg'}}" alt="{{cardData.name}}" />

    <mat-card-content>
        <p>
            {{cardData.name}}
            <!-- {{cardData.dataContent.desc}} -->
        </p>
    </mat-card-content>
    <!-- <mat-card-footer>
    </mat-card-footer>   -->
    <mat-card-actions>
        <!-- <button mat-button>SELECT</button> -->
        <!-- <mat-slide-toggle (change)="onToggling()" class="example-margin" [checked]="getState()">{{getState() ? 'selected' : 'not selected'}}</mat-slide-toggle> -->
    </mat-card-actions>
</mat-card>
