<md-tab-group #topPanelTabs (focusChange) = "focusChanged(topPanelTabs.selectedIndex)"
[selectedIndex] = "1" (selectChange) = "selectedChanged(topPanelTabs.selectedIndex)"
class="top_panel">

<!--  <md-tab *ngFor="let tab of tabs">
    <template md-tab-label>{{tab.title}}</template>
    <template md-tab-content>
      <md-content class="md-padding">{{tab.content}}</md-content>
    </template>
  </md-tab>
 -->

    <md-tab>
        <template md-tab-label>{{getTitle(0)}}</template>
        <template md-tab-content>
            <md-content class="tab_content md-padding" [ngClass]="{tab_block: isVisible(0)}">
                <suggestion-component></suggestion-component>
            </md-content>
        </template>
    </md-tab>

    <md-tab>
        <template md-tab-label>{{getTitle(1)}}</template>
        <template md-tab-content md-on-select="opened(tab)">
            <md-content class="tab_content md-padding" [ngClass]="{tab_block: isVisible(1)}">
                <rima-relevant-list class="rima_relevant_list"></rima-relevant-list>
            </md-content>
        </template>
    </md-tab>

    <md-tab>
        <template md-tab-label>{{getTitle(2)}}</template>
        <template md-tab-content>
            <md-content class="tab_content md-padding" [ngClass]="{tab_block: isVisible(2)}">
              <!-- <change-component [initializeWithPreviousChanges]="true" [followChanges]="true"></change-component> -->
            </md-content>
        </template>
    </md-tab>

    <md-tab>
       <!-- *ngIf="policyConfig.moderating.enabled"> -->
        <template md-tab-label>{{getTitle(3)}}</template>
        <template md-tab-content>
            <md-content class="tab_content md-padding" [ngClass]="{tab_block: isVisible(3)}">
                <request></request>
            </md-content>
        </template>
    </md-tab>

</md-tab-group>
