/*
Error: File to import not found or unreadable: /Library/Ruby/Gems/2.0.0/gems/font-awesome-sass-4.3.2.1/assets/stylesheets/font-awesome.
       Load paths:
         Compass::SpriteImporter
         /Users/mprinc/Documents/data/development/KnAllEdge/src/frontend/app/sass
         /Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets
         /Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass
         /Library/Ruby/Gems/2.0.0/gems/sassy-maps-0.4.0/sass
         /Library/Ruby/Gems/2.0.0/gems/breakpoint-2.7.0/stylesheets
        on line 9 of /Users/mprinc/Documents/data/development/KnAllEdge/src/frontend/app/sass/default.scss

4: /*
5: http://compass-style.org/examples/compass/css3/box_sizing/
6: http://stackoverflow.com/questions/10808413/css3-box-sizing-margin-box-why-not
7: *\/
8: 
9: @import "/Library/Ruby/Gems/2.0.0/gems/font-awesome-sass-4.3.2.1/assets/stylesheets/font-awesome";
10: @font-face {
11: 	font-family: "FontAwesome";
12: 	src: url("../fonts/font-awesome/fontawesome-webfont.eot");
13: 	src: url("../fonts/font-awesome/fontawesome-webfont.eot") format("embedded-opentype"),
14: 	url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"),

Backtrace:
/Users/mprinc/Documents/data/development/KnAllEdge/src/frontend/app/sass/default.scss:9
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:45:in `import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:28:in `imported_file'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:37:in `css_import?'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: /Library/Ruby/Gems/2.0.0/gems/font-awesome-sass-4.3.2.1/assets/stylesheets/font-awesome.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/mprinc/Documents/data/development/KnAllEdge/src/frontend/app/sass\A          /Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets\A          /Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass\A          /Library/Ruby/Gems/2.0.0/gems/sassy-maps-0.4.0/sass\A          /Library/Ruby/Gems/2.0.0/gems/breakpoint-2.7.0/stylesheets\A         on line 9 of /Users/mprinc/Documents/data/development/KnAllEdge/src/frontend/app/sass/default.scss\A \A 4: /*\A 5: http://compass-style.org/examples/compass/css3/box_sizing/\A 6: http://stackoverflow.com/questions/10808413/css3-box-sizing-margin-box-why-not\A 7: */\A 8: \A 9: @import \"/Library/Ruby/Gems/2.0.0/gems/font-awesome-sass-4.3.2.1/assets/stylesheets/font-awesome\";\A 10: @font-face {\A 11: 	font-family: \"FontAwesome\";\A 12: 	src: url(\"../fonts/font-awesome/fontawesome-webfont.eot\");\A 13: 	src: url(\"../fonts/font-awesome/fontawesome-webfont.eot\") format(\"embedded-opentype\"),\A 14: 	url(\"../fonts/font-awesome/fontawesome-webfont.woff\") format(\"woff\"),"; }
