<div>
  <h2>TagGroups and Tags Population</h2>

  <h3>Existing TagGroups</h3>

  <table border="1">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>image</th>
    <th>actions</th>
  </tr>
  <tr *ngFor="let tagsGroup of tagsGroups">
    <td>{{tagsGroup._id}}</td>
    <td>{{tagsGroup.name}}</td>
    <td>
      <img src="{{tagsGroup?.dataContent?.image?.url}}" width="100px"/>
    </td>
    <td>
      <button class="delete" title="delete"
      (click)="deleteTagsGroup(tagsGroup)">X</button>
      <button class="delete" title="update"
      (click)="updateTagsGroup(tagsGroup)">update</button>
    </td>
  </tr>
  </table>

  <h3>Existing Tags</h3>

  <table border="1">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>rfid</th>
    <th>image</th>
    <th>actions</th>
  </tr>
  <tr *ngFor="let tag of tags">
    <td>{{tag._id}}</td>
    <td>{{tag.name}}</td>
    <td>{{tag?.dataContent?.coLaboWareData?.value}}</td>
    <td>
      <img src="{{tag?.dataContent?.image?.url}}" width="100px"/>
    </td>
    <td>
      <button class="delete" title="delete"
      (click)="deleteTag(tag)">X</button>
      <button class="delete" title="update"
      (click)="updateTag(tag)">update</button>
    </td>
  </tr>
  </table>

  <h3>New tagsGroups and tags</h3>

  <label><p>New tagsGroups and tags list:</p>
    <textarea rows="10" cols="80" [(ngModel)]="new_tags_list" placeholder="Place JSON list of tagsGroups and tags you want to create">
    </textarea>
  </label>
  <p>
    {{newTagGroupIndex}} of {{newTagsGroups ? newTagsGroups.length : 0}} <b>tagGroups</b> created
  </p>
  <p>
    {{newTagIndex}} of {{newTags ? newTags.length : 0}} <b>tags</b> created
  </p>
  <p>
    <button (click)="createNewTagsGroupsAndTags()">Create</button>
  </p>
</div>
