/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/

@import "../../../sass/include";

.missing{
	background-color: #fbb;
	border: 1px dashed #a00;
}
.info{
	color: #66f;
	padding-left: 5em;
}
.login_index{
	background-image: url("../../../../app/img/ESB_Logo_small.png");
	background-repeat: no-repeat;
	background-position-x: 50.4em;
	background-position-y: 1em;

	.login_authentication{
		width:60%;
		margin-left:20%;
		margin-right:20%;

		.route-div{
			text-align: center;
			.message{
				font-size: 1.2em;
			}
			.route{
				@include border-radius(10px, 10px);
				background-color: #ccf;
				border: 1px solid #aaf;
				padding: 3px;
				padding-left: 10px;
				padding-right: 10px;
				margin: 3px;
				font-size: 0.8em;
			}
		}

		label{
			width: 20em;
		}
	}
}

.register_index{
	background-image: url("../../../../app/img/ESB_Logo_small.png");
	background-repeat: no-repeat;
	background-position-x: 50.4em;
	background-position-y: 1em;

	.login_register{
		width:60%;
		margin-left:20%;
		margin-right:20%;

		label{
			width: 20em;
		}
	}
}

.logout_index{
	background-image: url("../../../../app/img/ESB_Logo_small.png");
	background-repeat: no-repeat;
	background-position-x: 50.4em;
	background-position-y: 1em;
	min-height: 200px;

	.login_logout{
		width:60%;
		margin-left:20%;
		margin-right:20%;

		label{
			width: 20em;
		}
	}
}

.login-check{
	margin-top: 3px;
	margin-bottom: 5px;
}
