<div>
  <table>
    <tr>
      <td>
        <user-info></user-info>
      </td>
      <td>
        <div *ngIf="activeUser">
          <div class="tagGroup_user" *ngFor="let tagsGroup of relevantTagsGroups">
            <div class="tagGroup_name">{{tagsGroup.name}}</div>

            <div class="tag" *ngFor="let tag of getTagsAssociations(activeUser, tagsGroup)">
              <div class="tag_name">{{tag.name}}</div>
              <img src="{{tag?.dataContent?.image?.url}}" width="100px"/>
              <button class="delete" title="delete"
                (click)="deleteTagAssociation(tag)">X</button>
            </div>

          </div>
        </div>
      </td>
    </tr>
  </table>

<hr/>

Number of Groups: <input [(ngModel)]="groupsNumber" placeholder="number of groups"/>


<h2>CoLaboWare - RFID</h2>
<p>
  <button (click)="rfidEnable()">Enable RFID</button>
  <button (click)="rfidDisable()">Disable RFID</button>
</p>
<div>
  <input [(ngModel)]="cw_data" placeholder="name"/>
  <button (click)="sendDemoColabowareInput()">send Demo Colaboware Input</button>
  <p>
    RFID: {{RFIDreport}}
  </p>
</div>


<div>
  <h2>User Profiling</h2>
  <button (click)="profileNewUser()">profile New User</button>
  <button (click)="fillDemoUsers()">fill DemoUsers</button>


  <div class="example-selected-value">Active User for Profiling: {{activeUser?.name}}</div>

  <mat-radio-group class="example-radio-group" [(ngModel)]="profilingState">
    <mat-radio-button class="example-radio-button" *ngFor="let state of ProfilingStateTypeNames" [value]="state">
      {{state}}
    </mat-radio-button>
  </mat-radio-group>

  <div class="example-selected-value">Profiling state is: {{profilingState}}</div>

<hr/>

<div>
