.tagGroup_user{
  background-color: #eeeeff;
  border: solid #8888ff 1px;
  padding: 3px;
  margin: 3px;
  margin-bottom: 25px;
}

.tagGroup_title{
    font-weight: bold;
    font-size: 1em;
    background-color: #ddddff;
}

.tagGroup_name{
    font-weight: bold;
    font-size: 2em;
}

.tag{
  background-color: #eeffee;
  border: solid #88ff88 1px;
  padding: 3px;
  margin: 3px;
}

.tag_name{
    font-weight: bold;
    font-size: 1.5em;
}

.tag img{
  width: 150px;
}
